-
    tariffs = [
        {
            id: 1,
            title: 'Абонентский платеж',
            subtitle: 'Зафиксируйте свои расходы на SEO на оптимальном уровне',
            price: 'От 60 000 рублей',
            'data-tariff': 'Абонентский платеж',
            'data-theme': 'SEO',
            items: [
                'Акцент на самых важных работах.',
                'Недорогое продвижение в ТОП поисковых систем.',
                'Согласование всего списка работ по сайту.',
                'Технический аудит входит в стоимость.'
            ]
        },
        {
            id: 2,
            title: 'Трафик',
            subtitle: 'Платите только за целевых посетителей — никакого «мусора»',
            price: 'От 1 рубля за целевой переход',
            'data-tariff': 'Трафик',
            'data-theme': 'SEO',
            items: [
                'Своевременное расширение списка продвигаемых запросов.',
                'Полный охват ниши.',
                'Оплата только за целевого посетителя.',
                'Прозрачный KPI с учетом специфики вашего магазина.'
            ]
        },
        {
            id: 3,
            title: 'Объём работ',
            subtitle: 'Оплачивайте часы работы специалиста — результат не заставит себя ждать',
            price: 'От 70 000 рублей',
            'data-tariff': 'Объем работ',
            'data-theme': 'SEO',
            items: [
                'Возможность обновлять семантику ежемесячно.',
                'Согласование всего списка работ по сайту.',
                'Технический аудит входит в стоимость.',
                'Оплата за часы работы над проектом.'
            ]
        },
        {
            id: 4,
            title: 'CPA',
            subtitle: 'Платите только за достижение поставленных целей!',
            price: 'От 100 рублей за заявку',
            'data-tariff': 'CPA',
            'data-theme': 'SEO',
            items: [
                'Отличная схема для крупных проектов.',
                'Переход конвертирует в заявку.',
                'Оплата за достижение цели.',
                'Прозрачная отчетность.'
            ]
        },
        {
            id: 5,
            title: 'SEO и поддержка',
            subtitle: 'Эффективное SEO невозможно без доработок его программной части',
            price: 'От 60 000 рублей + тариф поддержки «Абонемент»',
            'data-tariff': 'SEO и поддержка',
            'data-theme': 'SEO',
            items: [
                'Написание технических заданий.',
                'Устранение проблем проекта любой сложности.',
                'Ежемесечно доступно от 6 часов работы любых специалистов поддержки.',
                'Решение технических и маркетинговых задач одновременно.'
            ]
        },
        {
            id: 6,
            title: 'Разовые работы',
            subtitle: 'Услуги проведения ряда отдельных (разовых) работ по внутренней и внешней оптимизации',
            price: 'От 5 000 рублей',
            'data-tariff': 'Разовые работы',
            'data-theme': 'SEO',
            items: [
                'Составление эффективного семантического ядра.',
                'Формирование оптимизированной структуры.',
                'SEO-копирайтинг.',
                'SEO-аудит.',
                'Настройка проекта в <nobr>Пиксель Тулс</nobr>.'
            ]
        },
        {
            id: 7,
            title: 'SEO 3.0',
            subtitle: 'Ощути всю мощь поискового продвижения с тарифом SEO 3.0!',
            price: 'От 170 000 рублей',
            'data-tariff': 'SEO',
            'data-theme': 'SEO 3.0',
            items: [
                'KPI близкие к бизнесу.',
                'Внедрение доработок и рекомендаций.',
                'Улучшение юзабилити и увеличиние конверсии.',
                'Экспертная поисковая аналитика.',
                'Доступ к внутренней CRM.'
            ]
        }
    ]

.quiz
    .quiz__item
        .quiz__item-title
        .quiz__item-back.buttons-group
    .quiz__item
        .quiz__form
            .quiz__form-buttons.buttons
        for card in tariffs
            .quiz__card.-d-none(data-id=card.id)
                .quiz__card-item
                    .quiz__card-title=card.title
                    .quiz__card-subtitle=card.subtitle
                    .quiz__card-price=card.price
                    button.button.button--green.js-order(
                        data-tariff=card['data-tariff']
                        data-theme=card['data-theme']
                    ) Заказать
                .quiz__card-item
                    ul.list--checked-figure
                        for item in card.items
                            li !{item}
script
    include ./script.js
