-
    fields = [
        {
            title: "Тематика сайта",
            tip: "Выберите тематику вашего проекта. Тематика используется для определения сезонности спроса. Если вы не нашли среди списка вашу тематику — выберите наиболее похожую.",
            input: {
                tag: "select",
                attributes: {
                    name: "fields[subject]"
                },
                options: [
                    {
                        text: "Недвижимость",
                        value: "realty"
                    },
                    {
                        text: "Авто и транспорт",
                        value: "auto"
                    },
                    {
                        text: "Красота и здоровье",
                        value: "beauty"
                    },
                    {
                        text: "Туризм",
                        value: "tourism"
                    },
                    {
                        text: "Общепит",
                        value: "catering"
                    },
                    {
                        text: "Финансовые услуги и банки",
                        value: "bank"
                    },
                    {
                        text: "Интернет-магазины",
                        value: "eshop",
                        selected: true
                    },
                    {
                        text: "Сайты услуг",
                        value: "services"
                    },
                    {
                        text: "Онлайн-игры",
                        value: "games"
                    }
                ]
            }
        },
        {
            title: "Трафик за последний месяц",
            tip: "Укажите количество посетителей из поисковых систем за предыдущий месяц. Данные позволят оценить текущую посещаемость проекта с учетом сезонности.",
            input: {
                tag: "input",
                attributes: {
                    name: "fields[lastMonthTraffic]",
                    type: "text",
                    "data-unit": " визитов",
                    value: "10000",
                    placeholder: "10000"
                }
            }
        },
        {
            title: "Бюджет на SEO в месяц",
            tip: "Укажите примерный бюджет, который вы готовы инвестировать в канал поискового продвижения. От SEO-бюджета зависит объем проводимых работ на сайте и стратегия.",
            input: {
                tag: "select",
                attributes: {
                    name: "fields[budget]"
                },
                options: [
                    {
                        text: "60 000 - 100 000 руб.",
                        value: "low"
                    },
                    {
                        text: "100 000 - 150 000 руб.",
                        value: "middle",
                        selected: true
                    },
                    {
                        text: "от 150 000 руб.",
                        value: "high"
                    }
                ]
            }
        },
        {
            title: "Доход с 1 посетителя",
            tip: "Укажите, какую в среднем прибыль приносит вам один посетитель. Значение можно получить, разделив сумму заказов всех товаров и услуг за месяц на посещаемость сайта (трафик).",
            input: {
                tag: "input",
                attributes: {
                    name: "fields[userProfit]",
                    type: "text",
                    "data-unit": " руб.",
                    value: "35",
                    placeholder: "35"
                }
            }
        }
    ]

.traffic-forecast.js-traffic-forecast
    .traffic-forecast__inner
        .traffic-forecast__fields
            for field in fields
                .traffic-forecast__item
                    .traffic-forecast__label
                        =field.title
                        .traffic-forecast__tooltip
                            .traffic-forecast__tooltip-content
                                .traffic-forecast__tooltip-title=field.title
                                =field.tip
                    if field.input.tag === "select"
                        label.field-select.traffic-forecast__select
                            span.field-select__select-wrap
                                select&attributes(field.input.attributes)
                                    if field.input.options
                                        for option in field.input.options
                                            option(value=option.value selected=option.selected)=option.text
                    else if field.input.tag === "input"
                        label.field-text.traffic-forecast__input
                            span.field-text__input-wrap
                                input.field-text__input&attributes(field.input.attributes)
        .traffic-forecast__buttons
            button.button.button--primary.js-traffic-forecast-calc-button(type="button") Рассчитать
            .traffic-forecast__details
                .traffic-forecast__toggler.js-traffic-forecast-toggler
                    | Детально
                    | <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 7"><path fill="#757575" fill-rule="evenodd" d="M5.66 7 .27 1.62a.96.96 0 0 1 0-1.35.96.96 0 0 1 1.35 0l4.04 4.05L9.7.27a.96.96 0 0 1 1.34 0c.37.37.37.98 0 1.35L5.66 7Z" clip-rule="evenodd"/></svg>
                .traffic-forecast__detail-content.js-traffic-forecast-detail-content
                    div <b>Прогноз трафика</b> = трафик за последний месяц * коэф. сезонности * коэф. роста
                    div <b>Прогноз продаж</b> = прогноз SEO-трафика (визиты в месяц) * доход с 1 посетителя в тематике
        .traffic-forecast__error-wr.js-traffic-forecast-errors
        .traffic-forecast__tabs.js-traffic-forecast-charts-container
            ul.traffic-forecast__tabs-list
                li.traffic-forecast__tab.js-traffic-forecast-tab.is-active(data-tab="traffic") Прогноз роста трафика
                li.traffic-forecast__tab.js-traffic-forecast-tab(data-tab="sales") Прогноз роста продаж
            .traffic-forecast__chart-wr.js-traffic-forecast-chart.is-visible(data-chart="traffic")
                .traffic-forecast__chart-container.js-traffic-forecast-traffic-chart
                    .traffic-forecast__chart#traffic-forecast-chart
                    .traffic-forecast__legend#traffic-forecast-chart-legend
            .traffic-forecast__chart-wr.js-traffic-forecast-chart(data-chart="sales")
                .traffic-forecast__chart-container.js-traffic-forecast-sales-chart
                    .traffic-forecast__chart#sales-forecast-chart
                    .traffic-forecast__legend#sales-forecast-chart-legend
    .traffic-forecast__footer
            .traffic-forecast__footer-icon <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 66 65"><path fill="#C00" d="M64.1 17.07h-.01l-4.2-.6a1.08 1.08 0 0 1-.5-1.94L62.8 12c.48-.36.57-1.03.22-1.51L59.12 5.3a1.08 1.08 0 0 0-1.5-.22l-3.4 2.55A1.08 1.08 0 0 1 52.5 6.6l.6-4.2a1.08 1.08 0 0 0-.91-1.21l-6.4-.92a1.08 1.08 0 0 0-1.23.92l-.6 4.2a1.08 1.08 0 0 1-1.93.49l-2.54-3.4a1.08 1.08 0 0 0-1.51-.21l-3.25 2.43a20.87 20.87 0 0 0-4.4 0A20.5 20.5 0 0 0 12.24 23.1c-.03.3-.04.61-.06.91h-.32c-.51 0-.95.37-1.06.87l-.74 3.54-2.99-2.06c-.43-.3-1-.24-1.37.13L2.47 29.7c-.37.37-.42.95-.13 1.38l2.05 2.98-3.54.75c-.5.1-.85.54-.85 1.05v4.32c0 .5.36.95.86 1.05L4.4 42l-2.05 2.98c-.3.43-.24 1 .13 1.37l3.23 3.24c.37.37.95.42 1.38.13l2.98-2.06.75 3.55c.1.5.54.86 1.05.86h4.32c.5 0 .95-.36 1.05-.86l.75-3.54 2.98 2.05c.43.3 1 .24 1.37-.13l1.68-1.68v3.08a4.3 4.3 0 0 0 2.16 3.71v6A4.32 4.32 0 0 0 30.49 65h4.32a4.32 4.32 0 0 0 4.31-4.31v-6a4.3 4.3 0 0 0 2.16-3.71V46.7c.03-1.8.97-3.46 2.5-4.4.9-.59 1.74-1.24 2.54-1.95l-1.44-1.6c-.71.63-1.47 1.21-2.28 1.73a7.43 7.43 0 0 0-3.48 6.22v4.27c0 1.19-.96 2.15-2.15 2.15h-8.64c-1.19 0-2.15-.96-2.15-2.15v-4.36a7.26 7.26 0 0 0-3.42-6.1 18.29 18.29 0 0 1 9.66-33.76l-.04.12c-.04.28.03.57.2.8l2.55 3.39c.26.34.29.82.06 1.2-.22.37-.65.58-1.08.51l-4.2-.6a1.08 1.08 0 0 0-1.22.92l-.91 6.4c-.09.6.32 1.14.91 1.23l4.2.6a1.08 1.08 0 0 1 .5 1.93l-3.4 2.54a1.08 1.08 0 0 0-.21 1.51l3.88 5.18c.36.48 1.04.57 1.51.22l3.4-2.55a1.08 1.08 0 0 1 1.7 1.02l-.59 4.2c-.08.59.32 1.13.91 1.22l6.41.91.16.01c.53 0 .99-.4 1.06-.92l.6-4.2a1.08 1.08 0 0 1 1.93-.5l2.55 3.4c.36.47 1.03.57 1.5.21L60 31.63c.47-.36.57-1.04.21-1.51l-2.54-3.4c-.27-.34-.3-.82-.06-1.2.21-.37.64-.58 1.07-.5l4.2.59c.6.08 1.14-.32 1.22-.91l.92-6.41a1.08 1.08 0 0 0-.92-1.22ZM28.32 55.29h8.64v2.16h-8.64v-2.16Zm0 4.32h8.64v1.08c0 1.19-.97 2.15-2.16 2.15h-4.32c-1.19 0-2.16-.96-2.16-2.15V59.6ZM19.75 41c.59.47 1.2.92 1.84 1.33a5.27 5.27 0 0 1 2.17 2.77l-2.31 2.3-2.24-1.54a2.16 2.16 0 0 0-3.34 1.33l-.56 2.7h-2.57l-.56-2.7a2.16 2.16 0 0 0-3.34-1.33L6.6 47.42l-1.97-1.97 1.55-2.24a2.16 2.16 0 0 0-1.33-3.33l-2.7-.57v-2.56l2.7-.57a2.16 2.16 0 0 0 1.33-3.33L4.63 30.6l1.97-1.96 2.24 1.55a2.16 2.16 0 0 0 3.34-1.34l.19-.9c.17 1.25.46 2.48.85 3.67A6.47 6.47 0 1 0 19.75 41Zm-1.68-1.53a4.3 4.3 0 1 1-4.05-5.77h.05c.99 2.14 2.34 4.1 4 5.77ZM62.1 23.32l-3.13-.45a3.24 3.24 0 0 0-3.04 5.15l1.9 2.53-3.46 2.58-1.9-2.52a3.24 3.24 0 0 0-5.79 1.48l-.44 3.13-4.27-.6.45-3.13a3.24 3.24 0 0 0-5.15-3.05l-2.52 1.9-2.6-3.46 2.53-1.9a3.24 3.24 0 0 0-1.48-5.79l-3.13-.45.61-4.27 3.13.45a3.24 3.24 0 0 0 3.05-5.15l-1.9-2.53 3.45-2.59 1.9 2.53A3.24 3.24 0 0 0 46.1 5.7l.44-3.13 4.28.6-.45 3.14a3.24 3.24 0 0 0 5.15 3.04l2.52-1.9 2.6 3.46-2.54 1.9a3.24 3.24 0 0 0 1.49 5.8l3.13.44-.62 4.27Z"/><path fill="#C00" d="M46.4 10.26a8.63 8.63 0 1 0-.01 17.27 8.63 8.63 0 0 0 0-17.27Zm0 15.1a6.47 6.47 0 1 1-.01-12.94 6.47 6.47 0 0 1 0 12.95ZM33.73 47.74h-2.16v3.24h2.16v-3.24ZM27.93 37.14a12.95 12.95 0 0 1-2.18-23.01l-1.16-1.83a15.1 15.1 0 0 0 2.56 26.85 6.89 6.89 0 0 1 4.42 6.43h2.16c0-3.74-2.3-7.1-5.8-8.44ZM60.7 40.19h-7.55v2.15h7.55V40.2ZM52.76 45.83l-1.38 1.66 6.47 5.4 1.38-1.67-6.47-5.39ZM48.83 48.82h-2.15v7.55h2.15v-7.55ZM9.73 16.48 1.1 18.64l.52 2.1 8.63-2.16-.52-2.1ZM4.15 5.87 2.89 7.62l7.56 5.4 1.25-1.76-7.55-5.4ZM14.23 0l-2.1.53 2.21 8.63 2.1-.53L14.22 0Z"/></svg>
            .traffic-forecast__footer-info
                .traffic-forecast__footer-title Хотите такую же динамику?
                p Предварительный прогноз роста трафика и продаж за счет раскрутки вы можете скачать в формате PDF. Для получения детальной аналитики сайта и точного прогноза на год — оставьте заявку (это бесплатно). Показатели точного прогноза будут зафиксированы в договоре на поисковое продвижение.
            .traffic-forecast__footer-buttons
                button.button.button--contour-primary.traffic-forecast__footer-button.js-traffic-forecast-make-order-button.js-order(
                    type="button"
                    data-theme="SEO"
                    data-budget-min="60000"
                    data-budget-max="120000"
                ) Оставить заявку
                button.button.button--not-fill.traffic-forecast__footer-button.traffic-forecast__footer-button--pdf.js-traffic-forecast-download-pdf(type="button")
                    span.traffic-forecast__spinner
                        for _ in Array(12)
                            span
                    | <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 19 20"><path fill="#C00" d="M18.05 7.03h-1.37v-2L11.65 0H1.37v7.03H0v10h1.37V20h15.31v-2.97h1.37v-10ZM11.99 2l2.69 2.69h-2.69V2Zm-9.45-.83h8.28v4.69h4.69v1.17H2.54V1.17ZM15.5 18.83H2.54v-1.8H15.5v1.8Zm1.37-2.97H1.18V8.2h15.7v7.66Z"/><path fill="#C00" d="M4.02 13h.57a1.78 1.78 0 0 0 0-3.55H2.85v5.32h1.17V13Zm0-2.38h.57a.6.6 0 0 1 0 1.22h-.57v-1.21ZM11.05 12.42v-.62c0-1.3-1.05-2.35-2.34-2.35H7.54v5.32H8.7c1.3 0 2.34-1.06 2.34-2.35Zm-2.34-1.8c.65 0 1.17.53 1.17 1.18v.62c0 .65-.52 1.17-1.17 1.17v-2.96ZM13.48 13.14h1.17v-1.17h-1.17v-1.35h1.75V9.46H12.3v5.32h1.18v-1.63Z"/></svg>
                    span.traffic-forecast__footer-button-text Скачать PDF
script
    include ./data.js
script
    include ./script.js
