extends ../layout.pug

block meta
	title Главная
	meta(name='description', content='')

block breadcrumb
block content
	include ../../blocks/main-slider/index

	.wide-block.wide-block--gray-lighter
		.page-container
			-
				let dataServices = [
					{
						'icon': '<svg xmlns="http://www.w3.org/2000/svg" width="54.99845" height="55" viewBox="0 0 54.99845 55"><path d="M53.9548,1.8254l-.0002-.00128a1.07445,1.07445,0,0,0-.7792-.781A34.32676,34.32676,0,0,0,22.0566,8.58573l-.939-.29218A15.65026,15.65026,0,0,0,5.36,12.1812L.31559,17.2256a1.07454,1.07454,0,0,0,0,1.5194L6.8181,25.2476l1.238,1.238L4.79075,29.751a1.07454,1.07454,0,0,0,0,1.5194L7.71142,34.191l-3.5246,9.0102a1.07426,1.07426,0,0,0,1.33106,1.4135l1.81756-.5878L5.02417,48.558a1.0743,1.0743,0,0,0,1.44675,1.4443l4.51838-2.314-.586,1.812a1.07417,1.07417,0,0,0,1.4133,1.331l9.0102-3.5246,2.9143,2.9144a1.07433,1.07433,0,0,0,1.5192,0l3.2654-3.2654,1.2271,1.227,6.5025,6.5027a1.07433,1.07433,0,0,0,1.5192,0l5.0443-5.0443a15.65021,15.65021,0,0,0,3.8877-15.7575l-.2921-.9393A34.32923,34.32923,0,0,0,53.9548,1.8254ZM7.57768,22.9685,2.59442,17.9853l4.2847-4.2847a13.50729,13.50729,0,0,1,13.38648-3.42ZM13.1452,48.0043l.6873-2.1253a1.07422,1.07422,0,0,0-1.5119-1.2867L8.447,46.5761l1.97947-3.8804a1.0743,1.0743,0,0,0-1.28757-1.5104l-2.12521.6874,2.35617-6.0234L19.1686,45.648Zm11.3558-.0624L21.8611,45.302l-.0048-.0048L9.72148,33.1625l-.006-.006L7.06958,30.5106l2.50581-2.5057L27.0067,45.4361Zm16.7989.1795-4.2847,4.2847L32.032,47.4227,44.7199,34.7348A13.50691,13.50691,0,0,1,41.2999,48.1214Zm2.1293-15.1345L30.5126,45.9035,9.097,24.4879l2.11986-2.1198,4.8938,4.8937a1.07424,1.07424,0,0,0,1.5191-1.5193L12.736,20.8487l9.2763-9.2762A32.34129,32.34129,0,0,1,52.0224,2.97481,32.339,32.339,0,0,1,43.4292,32.9869ZM20.5163,28.6285a1.07517,1.07517,0,1,0,.3147.7606A1.08135,1.08135,0,0,0,20.5163,28.6285ZM44.3534,16.4551a1.07429,1.07429,0,0,0-1.9375.9287,10.21434,10.21434,0,1,1-4.785-4.7923,1.07433,1.07433,0,0,0,.9316-1.9362,12.36271,12.36271,0,1,0,5.7909,5.7998ZM41.966,13.0797l-.0197-.0198a1.07432,1.07432,0,1,0-1.5253,1.5133l.0197.0197a1.07428,1.07428,0,1,0,1.5253-1.5132ZM31.6529,15.3113H27.7886a1.07418,1.07418,0,0,0-1.0742,1.0743V20.25a1.07425,1.07425,0,0,0,2.1485,0V17.4599h2.79a1.0743,1.0743,0,0,0,0-2.1486Zm6.9623,6.962a1.07415,1.07415,0,0,0-1.0742,1.0742v2.7902h-2.79a1.07425,1.07425,0,0,0,0,2.1485h3.8643a1.07418,1.07418,0,0,0,1.0742-1.0743V23.3474A1.07428,1.07428,0,0,0,38.6152,22.2733Zm-.6885-1.7016a1.074,1.074,0,0,0-1.3098-.7697l-7.3705,1.9142a1.0742,1.0742,0,1,0,.5401,2.0794l7.3706-1.9141A1.07417,1.07417,0,0,0,37.9267,20.5717ZM4.2329,50.7665a1.07429,1.07429,0,0,0-1.51915-.0001L.31461,53.1657a1.07429,1.07429,0,1,0,1.51915,1.5194L4.2329,52.2859A1.07434,1.07434,0,0,0,4.2329,50.7665Zm5.15685.6445a1.07452,1.07452,0,0,0-1.51926,0L6.11588,53.1657a1.07425,1.07425,0,1,0,1.51925,1.5192l1.75462-1.7546A1.07442,1.07442,0,0,0,9.38975,51.411ZM3.89323,45.6284a1.07446,1.07446,0,0,0-1.51936,0L.31461,47.6879a1.07425,1.07425,0,1,0,1.51915,1.5193l2.05947-2.0594A1.07454,1.07454,0,0,0,3.89323,45.6284Z" transform="translate(0 0)" style="fill: #c00"/></svg>',
						'title': 'SEO',
						'description': 'Наиболее эффективный способ привлечения целевой аудитории. Поисковая оптимизация позволяет многократно увеличить количество продаж при разумном рекламном бюджете'
					},
					{
						'icon': '<svg xmlns="http://www.w3.org/2000/svg" width="62.04451" height="55" viewBox="0 0 62.04451 55"><path d="M36.7243,20.1855A1.20275,1.20275,0,0,0,35.52,21.3863v.0171a1.2042,1.2042,0,0,0,2.4084,0v-.0171A1.20245,1.20245,0,0,0,36.7243,20.1855Zm6.9445,5.2908V15.6194a1.20361,1.20361,0,0,0-1.5569-1.1481L15.1048,22.7191H8.21246a8.02117,8.02117,0,0,0-.70818,16.0131L10.1549,51.4048a4.53458,4.53458,0,0,0,7.9497,1.9273,4.49019,4.49019,0,0,0,.9194-3.7722l-.5808-2.7765a7.37066,7.37066,0,0,0,5.0247-5.4643l18.6437,5.6936a1.20376,1.20376,0,0,0,1.5569-1.1484V36.0075a5.39714,5.39714,0,0,0,.0003-10.5312ZM8.21246,36.3631a5.62122,5.62122,0,1,1,0-11.2424H14.0807V36.3632H8.21246ZM16.236,51.817a2.12379,2.12379,0,0,1-3.7233-.9026L9.97141,38.7648H14.3061l1.5386,7.3562.0006.0027.8213,3.9266A2.10327,2.10327,0,0,1,16.236,51.817Zm1.7125-7.4001-1.0688-5.11,4.2741,1.3053A4.95921,4.95921,0,0,1,17.9485,44.4169Zm23.3118-.1762-3.3315-1.0174V26.2011a1.2042,1.2042,0,0,0-2.4084,0V42.4878L22.9692,38.6547a1.1964,1.1964,0,0,0-.3789-.1157l-6.1009-1.8632V24.8081l24.771-7.5649V44.2407Zm2.4084-10.7503V27.9935a2.99554,2.99554,0,0,1,0,5.4969Zm13.064-3.9484H51.362a1.20085,1.20085,0,1,0,0,2.4017h5.3707a1.20085,1.20085,0,1,0,0-2.4017Zm-3.435-9.2642a1.20632,1.20632,0,0,0-1.6825-.2624l-2.7026,1.9657a1.20194,1.20194,0,0,0,1.4191,1.9403l2.7026-1.9657A1.19871,1.19871,0,0,0,53.2977,20.2778Zm-.2626,19.2521L50.349,37.5761a1.202,1.202,0,1,0-1.4192,1.9405l2.6861,1.9536a1.202,1.202,0,1,0,1.4192-1.9403ZM55.0335,4.32318H30.0377a1.20084,1.20084,0,1,0,0,2.40167H55.0335a1.20084,1.20084,0,1,0,0-2.40167Zm-37.2074.35164a1.2043,1.2043,0,0,0-2.0556.849,1.20234,1.20234,0,0,0,.353.84888,1.20226,1.20226,0,1,0,1.7026-1.69789Zm-4.4248,0a1.19757,1.19757,0,1,0,.3529.849A1.215,1.215,0,0,0,13.4013,4.67482Zm8.8516.00024a1.19782,1.19782,0,1,0,.3528.849A1.21664,1.21664,0,0,0,22.2529,4.67506ZM57.1537,0H10.4293A5.05643,5.05643,0,0,0,5.37158,5.0437V21.4959a1.20418,1.20418,0,0,0,2.40836,0V16.8211H15.2845a1.2009,1.2009,0,1,0,0-2.4018H7.78006V11.0474l.01309.0007H59.803V42.2712a2.64861,2.64861,0,0,1-2.6493,2.642H47.5599a1.20085,1.20085,0,1,0,0,2.4017h9.5938a5.05641,5.05641,0,0,0,5.0578-5.0437V5.0437A5.05646,5.05646,0,0,0,57.1537,0ZM59.803,8.64644H7.79315l-.01309.00073V5.0437A2.64855,2.64855,0,0,1,10.4293,2.40179H57.1537A2.64854,2.64854,0,0,1,59.803,5.0437ZM20.0413,14.7702a1.19734,1.19734,0,1,0,.353.8488A1.21428,1.21428,0,0,0,20.0413,14.7702Z" transform="translate(-0.16699)" style="fill: #c00"/></svg>',
						'title': 'Контекстная реклама',
						'description': 'Если требуется максимально быстро привлечь целевую аудиторию или выйти на новый рынок — этот канал для вас.<br>Яндекс.Директ и Google AdWords обладают тонкими настройками, работа с которыми позволяет повысить эффективность в несколько раз'
					},
					{
						'icon': '<svg xmlns="http://www.w3.org/2000/svg" width="54.99688" height="55" viewBox="0 0 54.99688 55"><path d="M43.5057,3.86719H22.0024a1.07422,1.07422,0,0,0,0,2.14843H43.5057a1.07422,1.07422,0,0,0,0-2.14843Zm-32.3952.31474a1.07354,1.07354,0,1,0,.3148.75948A1.08222,1.08222,0,0,0,11.1105,4.18193Zm-3.94771,0a1.07366,1.07366,0,1,0,.31475.75948A1.08234,1.08234,0,0,0,7.16279,4.18193Zm7.89551,0a1.07378,1.07378,0,1,0,.3147.75948A1.08245,1.08245,0,0,0,15.0583,4.18193ZM17.282,16.9532a1.07409,1.07409,0,0,0-1.4333.5033l-1.7505,3.6447-1.9016-3.6735a1.07417,1.07417,0,0,0-1.9223.0288L8.52388,21.1012,6.62219,17.4277a1.07423,1.07423,0,1,0-1.908.9876l2.89158,5.586a1.07446,1.07446,0,0,0,.954.5804l.01622-.0001a1.07412,1.07412,0,0,0,.95219-.6091l1.75043-3.6447,1.9016,3.6735a1.07417,1.07417,0,0,0,1.9223-.0288l2.6828-5.5859A1.07431,1.07431,0,0,0,17.282,16.9532Zm14.1093,0a1.07417,1.07417,0,0,0-1.4334.5033l-1.7504,3.6447-1.9016-3.6735a1.07417,1.07417,0,0,0-1.9223.0288l-1.7504,3.6447-1.9016-3.6735a1.07429,1.07429,0,1,0-1.9081.9877l2.8916,5.5859a1.07417,1.07417,0,0,0,1.9223-.0288l1.7505-3.6447,1.9016,3.6735a1.07391,1.07391,0,0,0,.9539.5804l.0162-.0001a1.074,1.074,0,0,0,.9522-.6091l2.6827-5.5859A1.07419,1.07419,0,0,0,31.3913,16.9532Zm14.1088,0a1.07415,1.07415,0,0,0-1.4333.5033l-1.7504,3.6447-1.9016-3.6735a1.07417,1.07417,0,0,0-1.9223.0288L36.742,21.1012l-1.9015-3.6735a1.07429,1.07429,0,0,0-1.9081.9877l2.8916,5.5859a1.07417,1.07417,0,0,0,1.9223-.0288l1.7505-3.6447,1.9015,3.6735a1.07444,1.07444,0,0,0,.954.5804l.0162-.0001a1.074,1.074,0,0,0,.9522-.6091l2.6827-5.5859A1.07414,1.07414,0,0,0,45.5001,16.9532Zm4.8883,7.5315a1.07372,1.07372,0,1,0,.3147.7594A1.08251,1.08251,0,0,0,50.3884,24.4847ZM46.1914,0H4.51172A4.51682,4.51682,0,0,0,0,4.51172V37.8125a4.51679,4.51679,0,0,0,4.51172,4.5117H25.626a1.0742,1.0742,0,1,0,0-2.1484H4.51172a2.366,2.366,0,0,1-2.36328-2.3633V9.88228l.01171.00053H48.5547V20.7145a1.0742,1.0742,0,1,0,2.1484,0V4.51172A4.51679,4.51679,0,0,0,46.1914,0Zm2.3633,7.73438H2.16025l-.0117.00053V4.51172A2.36576,2.36576,0,0,1,4.51172,2.14844H46.1914a2.366,2.366,0,0,1,2.3633,2.36328ZM18.2553,33.7316H5.668a1.07425,1.07425,0,0,0,0,2.1485H18.2553a1.07425,1.07425,0,1,0,0-2.1485Zm6.6668-5.1561-14.86-.0027H10.062a1.07425,1.07425,0,0,0-.0002,2.1485l14.86.0026h.0001a1.0742,1.0742,0,0,0,.0002-2.1484ZM6.428,28.8901a1.07363,1.07363,0,1,0,.31474.7594A1.085,1.085,0,0,0,6.428,28.8901ZM40.9772,33.6947a7.0182,7.0182,0,1,0,7.0182,7.0182A7.02615,7.02615,0,0,0,40.9772,33.6947Zm0,11.888a4.8698,4.8698,0,1,1,4.8697-4.8698A4.87534,4.87534,0,0,1,40.9772,45.5827Zm13.6655-1.661-1.6481-1.4888a12.2054,12.2054,0,0,0,0-3.44l1.6481-1.4888a1.07414,1.07414,0,0,0,.2098-1.3349l-3.0078-5.2008a1.07417,1.07417,0,0,0-1.2601-.4843l-2.1093.6817a12.04241,12.04241,0,0,0-2.9793-1.7226l-.4645-2.1682a1.07419,1.07419,0,0,0-1.0504-.8492H37.9738a1.074,1.074,0,0,0-1.0504.8492l-.4644,2.1682a12.04025,12.04025,0,0,0-2.9793,1.7225l-2.1094-.6816a1.07411,1.07411,0,0,0-1.2601.4843l-3.0078,5.2008a1.07414,1.07414,0,0,0,.2098,1.3349l1.6481,1.4888a12.2054,12.2054,0,0,0,0,3.44l-1.6481,1.4888a1.07414,1.07414,0,0,0-.2098,1.3349l3.0078,5.2007a1.07384,1.07384,0,0,0,1.2601.4844l2.1094-.6816a12.04025,12.04025,0,0,0,2.9793,1.7225l.4644,2.1682A1.07419,1.07419,0,0,0,37.9738,55h6.0073a1.07411,1.07411,0,0,0,1.0504-.8492l.4645-2.1682A12.03928,12.03928,0,0,0,48.4753,50.26l2.1093.6817a1.07379,1.07379,0,0,0,1.2601-.4844l3.0078-5.2007A1.07412,1.07412,0,0,0,54.6427,43.9217ZM50.7834,38.795a10.0553,10.0553,0,0,1,0,3.8358,1.07452,1.07452,0,0,0,.3344,1.0021l1.4398,1.3005-2.1383,3.6971-1.8445-.5961a1.074,1.074,0,0,0-1.0362.2125,9.93366,9.93366,0,0,1-3.3182,1.9185,1.07408,1.07408,0,0,0-.7019.791l-.406,1.8952H38.8422l-.406-1.8953a1.07389,1.07389,0,0,0-.7019-.791,9.9317,9.9317,0,0,1-3.3182-1.9185,1.074,1.074,0,0,0-1.0362-.2125l-1.8447.5961L29.397,44.9333l1.4398-1.3006a1.0742,1.0742,0,0,0,.3344-1.0021,10.0553,10.0553,0,0,1,0-3.8358,1.07494,1.07494,0,0,0-.3344-1.0022L29.397,36.4921l2.1382-3.6972,1.8447.5961a1.0743,1.0743,0,0,0,1.0362-.2125,9.93216,9.93216,0,0,1,3.3182-1.9184,1.07439,1.07439,0,0,0,.7019-.7911l.406-1.8948h4.2703l.406,1.8953a1.07389,1.07389,0,0,0,.7019.791,9.93464,9.93464,0,0,1,3.3182,1.9185,1.07391,1.07391,0,0,0,1.0362.2124l1.8445-.596,2.1383,3.6971-1.4398,1.3004A1.0746,1.0746,0,0,0,50.7834,38.795Z" style="fill: #c00"/></svg>',
						'title': 'Поддержка сайтов',
						'description': 'Мы берем на себя все вопросы по функционированию сайта, продлению доменного имени, работе хостинга, обновлению информации. Поддержка оказывается в рамках разработанных тарифов с подключением Личного кабинета'
					},
					{
						'icon': '<svg xmlns="http://www.w3.org/2000/svg" width="55.0215" height="55" viewBox="0 0 55.0215 55"><path d="M54.0961,47.6649H52.2623V45.8311H50.4286v1.8338H48.5948V45.8311H46.761v1.8338H33.1161a2.56162,2.56162,0,0,0-2.3087,1.4241.73427.73427,0,0,1-.6631.4097H24.8642a.73372.73372,0,0,1-.6631-.4097,2.56134,2.56134,0,0,0-2.3043-1.4241H8.25194V31.161H6.41818V47.6649H4.58441V31.161H2.75065V47.6649H.91688A.91691.91691,0,0,0,0,48.5818v2.7506A3.66776,3.66776,0,0,0,3.66753,55H51.3454a3.6678,3.6678,0,0,0,3.6676-3.6676V48.5818A.917.917,0,0,0,54.0961,47.6649Zm-.9169,3.6675a1.8339,1.8339,0,0,1-1.8338,1.8338H3.66753a1.83387,1.83387,0,0,1-1.83376-1.8338V49.4987h20.063a.73381.73381,0,0,1,.6631.4096,2.56116,2.56116,0,0,0,2.3043,1.4241h5.2846a2.56088,2.56088,0,0,0,2.3088-1.4241.73394.73394,0,0,1,.6585-.4096H53.1792ZM23.8388,14.6571V12.8234H7.3349a4.58973,4.58973,0,0,0-4.58441,4.5844v.9169H4.58425v-.9169A2.75079,2.75079,0,0,1,7.3349,14.6571ZM6.418,18.3247H25.6725V16.491H8.25173A1.83379,1.83379,0,0,0,6.418,18.3247Zm45.60393-6.797,1.1005-3.46826a.91683.91683,0,0,0-.6765-1.17476L48.8889,6.107l-.7736-3.55292a.91706.91706,0,0,0-1.1707-.681l-3.4688,1.1L41.0202.28608a.94492.94492,0,0,0-1.3547,0l-2.452,2.692L33.7411,1.87316a.91668.91668,0,0,0-1.1743.67737L31.7892,6.107l-3.5494.77765a.91682.91682,0,0,0-.6773,1.17476l1.1004,3.46826-2.692,2.4521a.9157.9157,0,0,0,0,1.3547l2.692,2.452-1.1004,3.4683a.91684.91684,0,0,0,.6773,1.1748l3.557.7777.7772,3.5565a.91721.91721,0,0,0,1.1747.6773l3.4683-1.1049,2.4521,2.692a.91615.91615,0,0,0,1.3551,0l2.4516-2.692,3.4688,1.1049a.91661.91661,0,0,0,1.1743-.6773l.7776-3.5565,3.5566-.7777a.91684.91684,0,0,0,.6773-1.1748l-1.1-3.4683,2.692-2.452a.91652.91652,0,0,0,0-1.3547Zm-1.6694,5.299a.91652.91652,0,0,0-.2557.9563l.9738,3.0703-3.1478.6885a.918.918,0,0,0-.6988.6989l-.685,3.1441-3.0703-.9777a.922.922,0,0,0-.9563.2561l-2.1695,2.3857L38.1733,24.665a.91007.91007,0,0,0-.9522-.2557l-3.0744.9755-.6885-3.1477a.91811.91811,0,0,0-.6989-.6989l-3.1442-.6849.9778-3.0703a.91651.91651,0,0,0-.2561-.9563l-2.3857-2.1696,2.3839-2.1695a.91556.91556,0,0,0,.2557-.9563L29.6151,8.461l3.1478-.68856a.918.918,0,0,0,.6989-.69885l.6849-3.14418,3.0703.97777a.91663.91663,0,0,0,.9563-.25608l2.1696-2.38577,2.1695,2.384a.91557.91557,0,0,0,.9563.25563l3.0703-.97553.6885,3.14776a.918.918,0,0,0,.6989.69885l3.1477.68856-.9773,3.0708a.91682.91682,0,0,0,.2557.9562l2.3822,2.1655ZM35.1104,18.5933l9.1683-9.16886,1.297,1.29656-9.1688,9.1688Zm3.3987-6.6868a2.75065,2.75065,0,1,0-2.7506,2.7507A2.75076,2.75076,0,0,0,38.5091,11.9065Zm-3.6675,0a.91685.91685,0,1,1,.9169.9169A.917.917,0,0,1,34.8416,11.9065Zm10.0858,2.7506a2.75065,2.75065,0,1,0,2.7507,2.7507A2.75077,2.75077,0,0,0,44.9274,14.6571Zm0,3.6675a.91685.91685,0,1,1,.9169-.9168A.91693.91693,0,0,1,44.9274,18.3246ZM23.8057,24.5294a.90966.90966,0,0,0-.8533.2399l-8.949,8.8564-2.1758,1.2947a3.52378,3.52378,0,0,0,1.327,6.5346l1.9099,3.8645a.916.916,0,0,0,.8251.5108h3.6071a.917.917,0,0,0,.8416-1.2835l-1.8982-4.3821,9.9675.1652h.0157a.91658.91658,0,0,0,.8663-1.2159L24.4643,25.1226A.9167.9167,0,0,0,23.8057,24.5294ZM12.0112,38.4962a1.68984,1.68984,0,0,1,.7525-2.0035l1.4322-.8497,1.6037,3.1715-1.3579.672a1.75508,1.75508,0,0,1-1.4559.0474A1.69907,1.69907,0,0,1,12.0112,38.4962Zm4.4487,5.5013-1.3865-2.8004c.0578-.0255.12-.0353.1777-.064l1.3225-.6545,1.5236,3.5189Zm1.1443-5.6764-1.9107-3.783,7.5181-7.4398,3.9237,11.3768Zm10.9661-6.9264,3.0323-1.0539.6012,1.7313L29.172,33.1259Zm-2.3828-6.0953,2.0222-2.1077,1.3234,1.2696-2.0227,2.1078Zm4.9863,12.2798h2.7507V39.413H31.1738ZM54.096,31.161H52.2622V24.7428H50.4284V31.161H48.5947V29.3272H46.7609V31.161H36.6752a.91689.91689,0,0,0-.9169.9169V43.0805a.91687.91687,0,0,0,.9169.9168H54.096a.91684.91684,0,0,0,.9168-.9168V32.0779A.91687.91687,0,0,0,54.096,31.161Zm-.9169,11.0026H37.5921V32.9947h15.587Zm-13.7533-7.335h3.6675v1.8338H39.4258Zm5.5014,0h6.4182v1.8338H44.9272Zm-5.5014,3.6675H51.3453v1.8338H39.4258ZM.91688,29.3273H14.6701a.917.917,0,0,0,.9169-.9169V21.0753a.917.917,0,0,0-.9169-.9169H.91688A.917.917,0,0,0,0,21.0753v7.3351A.917.917,0,0,0,.91688,29.3273Zm.91689-7.3351H13.7532v5.5013H1.83377Zm1.83371,1.8337H5.50125v1.8338H3.66748Zm3.66748,0H11.9194v1.8338H7.335Z" style="fill: #c00"/></svg>',
						'title': 'SMM',
						'description': 'Успешно оказываем услуги по разработке и ведению рекламных кампаний в социальных сетях ВКонтакте, Facebook, Одноклассники, Instagram, YouTube и других'
					},
					{
						'icon': '<svg xmlns="http://www.w3.org/2000/svg" width="54.9996" height="55" viewBox="0 0 54.9996 55"><path d="M27.6016,38.027a1.0742,1.0742,0,1,0,0,2.1484h.0102a1.07421,1.07421,0,0,0-.0102-2.1484ZM50.4881,4.29688H49.199V1.07422A1.07418,1.07418,0,0,0,48.1248,0H39.5311a1.07424,1.07424,0,0,0-1.0742,1.07422V33.7306H33.3053V18.1176l1.8991-5.1795a1.07426,1.07426,0,0,0-.0811-.9119L31.8611,6.44531h3.1046a1.07422,1.07422,0,0,0,0-2.14843H30.6052L28.4047.53228a1.07424,1.07424,0,0,0-1.8635.01514L20.0715,12.0415a1.07336,1.07336,0,0,0-.0839.8638l1.7162,5.1945V33.7307H17.4316V11.4941a1.07405,1.07405,0,0,0-.0965-.4449L15.2403,6.44531h4.8475a1.07422,1.07422,0,0,0,0-2.14843H14.4302a1.08268,1.08268,0,0,0-.1615.01342L12.594.62938a1.07424,1.07424,0,0,0-1.9555,0L8.96973,4.29688h-4.458A4.51681,4.51681,0,0,0,0,8.80859V39.1012a5.37714,5.37714,0,0,0,5.37109,5.3711h16.328v4.0824H20.1952a4.51676,4.51676,0,0,0-4.5117,4.5117v.8594A1.07422,1.07422,0,0,0,16.7577,55H38.2419a1.07422,1.07422,0,0,0,1.0742-1.0742v-.8594a4.51682,4.51682,0,0,0-4.5117-4.5117H33.3005V44.4722h16.328a5.37716,5.37716,0,0,0,5.3711-5.3711V8.80859A4.51674,4.51674,0,0,0,50.4881,4.29688ZM40.6054,32.2263h2.2827a1.0742,1.0742,0,0,0,0-2.1484H40.6054V27.9295h.9615a1.07425,1.07425,0,0,0,0-2.1485h-.9615V23.6326h2.2827a1.0742,1.0742,0,1,0,0-2.1484H40.6054V19.3357h.9615a1.0742,1.0742,0,1,0,0-2.1484h-.9615V15.0388h2.2827a1.0742,1.0742,0,0,0,0-2.1484H40.6054V10.742h.9615a1.07423,1.07423,0,0,0,0-2.14846h-.9615V6.44531h2.2827a1.07422,1.07422,0,0,0,0-2.14843H40.6054V2.14844h6.4452V33.7306H40.6054ZM26.4257,5.13251v3.782a1.0742,1.0742,0,1,0,2.1484,0V5.07944l4.439,7.59416-1.5323,4.1792H23.5545l-1.3781-4.171ZM28.3235,24.8858A1.07415,1.07415,0,0,0,27.2493,25.96v7.7706h-3.397V19.0011h7.3046V33.7307H29.3976V25.9601A1.074,1.074,0,0,0,28.3235,24.8858ZM15.2832,12.5683V33.7306H7.94933V12.5683ZM11.6163,3.668l1.2148,2.66986H10.4014ZM9.4238,8.48633h4.3849l.8798,1.93357H8.54412Zm-7.27525.32226A2.36593,2.36593,0,0,1,4.51183,6.44531H7.99219L5.89735,11.0492a1.07417,1.07417,0,0,0-.09646.4449V33.7307H2.14855ZM34.8046,50.7031a2.36664,2.36664,0,0,1,2.3536,2.1485H17.8418a2.36657,2.36657,0,0,1,2.3536-2.1485H34.8046ZM23.8475,48.5547V44.4722h7.3047v4.0825Zm29.0037-9.4535a3.22627,3.22627,0,0,1-3.2226,3.2227H5.37131a3.22634,3.22634,0,0,1-3.22266-3.2227V35.879H52.8513v3.2222Zm0-5.3705H49.1989V6.44531H50.488a2.36589,2.36589,0,0,1,2.3632,2.36328ZM10.7778,20.2489a1.07415,1.07415,0,0,0-1.07419,1.0742v7.8418a1.07425,1.07425,0,0,0,2.14849,0V21.3231A1.07424,1.07424,0,0,0,10.7778,20.2489Zm.7595-3.8747a1.07348,1.07348,0,1,0,.3148.7595A1.08056,1.08056,0,0,0,11.5373,16.3742Zm16.7222-4.5653a1.07372,1.07372,0,1,0,.3147.7595A1.08251,1.08251,0,0,0,28.2595,11.8089Z" style="fill: #c00"/></svg>',
						'title': 'Брендинг',
						'description': 'Предоставляем полный цикл услуг в сфере корпоративного и продуктового брендинга: от анализа и концепции до реализации, поддержки и последующего развития'
					},
					{
						'icon': '<svg xmlns="http://www.w3.org/2000/svg" width="59.77368" height="55" viewBox="0 0 59.77368 55"><path d="M48.054,4.195H23.8674a1.16524,1.16524,0,1,0,0,2.33047H48.054a1.16524,1.16524,0,1,0,0-2.33047Zm-36.0019.34148a1.16465,1.16465,0,1,0,.3414.82388A1.17381,1.17381,0,0,0,12.0521,4.53643Zm-4.28223,0a1.16473,1.16473,0,1,0,.34137.82388A1.17377,1.17377,0,0,0,7.76987,4.53643Zm8.56463,0a1.16756,1.16756,0,1,0,.3402.82388A1.1762,1.1762,0,0,0,16.3345,4.53643ZM59.4325,48.533l-9.1733-9.1732,1.4391-1.4391.0012-.001.001-.0012,1.4388-1.4388,4.5317,4.5318a1.16528,1.16528,0,1,0,1.648-1.6479L53.9634,34.008a1.16546,1.16546,0,0,0-1.648,0l-1.4399,1.4398-.6976-.6976A13.63895,13.63895,0,0,0,29.878,16.5483l-.0326-.0016H7.45759a1.16539,1.16539,0,0,0-1.16524,1.1652V34.0255a1.16534,1.16534,0,0,0,1.16524,1.1652H29.6994A13.62091,13.62091,0,0,0,48.53,36.3982l.6975.6976-1.4403,1.4403a1.16558,1.16558,0,0,0,0,1.648l4.8822,4.8821V50.106a2.5663,2.5663,0,0,1-2.5635,2.5635H4.89409a2.56633,2.56633,0,0,1-2.5635-2.5635V10.7197l.01273.0007H52.6695v5.2521a1.16525,1.16525,0,1,0,2.3305,0V4.89409A4.89961,4.89961,0,0,0,50.1059,0H4.89409A4.89961,4.89961,0,0,0,0,4.89409V50.1059A4.8996,4.8996,0,0,0,4.89409,55H50.1059A4.8996,4.8996,0,0,0,55,50.1059V47.3965l2.7845,2.7845a1.16531,1.16531,0,0,0,1.648-1.648ZM26.1034,26.3198l-1.4685-2.8365a1.16533,1.16533,0,1,0-2.0697,1.0716l2.7362,5.2856a1.15949,1.15949,0,0,0,1.5237.52,13.57716,13.57716,0,0,0,1.1481,2.4996H8.62283V18.8771H28.0882a13.56287,13.56287,0,0,0-1.9894,7.0879Q26.0988,26.1432,26.1034,26.3198ZM39.7449,37.2804A11.32828,11.32828,0,0,1,28.4294,25.965c0-.0888.0013-.1773.0034-.2657l2.1436,4.141a1.165,1.165,0,0,0,1.0347.6296l.0175-.0001a1.16551,1.16551,0,0,0,1.033-.6607l2.5386-5.2856a1.16536,1.16536,0,1,0-2.101-1.009l-1.5271,3.1801-1.6624-3.2112a1.16448,1.16448,0,0,0-1.0455-.6288A11.31591,11.31591,0,1,1,39.7449,37.2804ZM2.33047,4.89409A2.56636,2.56636,0,0,1,4.894,2.33059H50.1058a2.5664,2.5664,0,0,1,2.5635,2.5635V8.3898H2.3432l-.01273.0007ZM21.303,22.9685a1.16586,1.16586,0,0,0-1.5549.5461L18.221,26.6945l-1.6624-3.2112a1.16524,1.16524,0,0,0-2.0852.0311l-1.5271,3.18-1.6624-3.2112a1.16528,1.16528,0,0,0-2.06974,1.0713l2.73614,5.2857a1.1652,1.1652,0,0,0,2.0852-.0312l1.5272-3.18,1.6623,3.2112a1.16513,1.16513,0,0,0,1.0347.6296l.0175-.0001a1.1654,1.1654,0,0,0,1.033-.6607l2.5386-5.2856A1.165,1.165,0,0,0,21.303,22.9685Zm26.7022,0a1.16564,1.16564,0,0,0-1.5549.546l-1.5272,3.1799-1.6623-3.2113a1.16532,1.16532,0,0,0-2.0852.0313l-1.5272,3.18-1.6623-3.2113a1.16538,1.16538,0,1,0-2.0698,1.0716l2.7363,5.2857a1.16529,1.16529,0,0,0,1.0347.6295l.0175-.0001a1.1654,1.1654,0,0,0,1.033-.6607l1.5271-3.1799,1.6624,3.2113a1.16529,1.16529,0,0,0,1.0347.6295l.0175-.0001a1.16551,1.16551,0,0,0,1.033-.6607l2.5385-5.2856A1.1655,1.1655,0,0,0,48.0052,22.9685ZM8.28147,44.388a1.1644,1.1644,0,1,0,.34149.8239A1.1686,1.1686,0,0,0,8.28147,44.388Zm25.86833-.3403H11.4582a1.16525,1.16525,0,0,0,0,2.3305H34.1497a1.16525,1.16525,0,0,0,.0001-2.3305Zm-4.3195-5.5938h-6.875a1.1652,1.1652,0,1,0,0,2.3304h6.875a1.1652,1.1652,0,0,0,0-2.3304Zm-12.1077,0H7.45772a1.1652,1.1652,0,1,0,0,2.3304H17.7226a1.1652,1.1652,0,1,0,0-2.3304Z" style="fill: #c00"/></svg>',
						'title': 'Аудит сайтов',
						'description': 'Высокий уровень компетенции специалистов компании позволяет оказывать услуги: SEO, коммерческого и технического аудитов проекта, анализа эффективности рекламных кампании по SEO и контексту, выводу из-под санкций поисковых систем'
					},
					{
						'icon': '<svg xmlns="http://www.w3.org/2000/svg" width="59.6605" height="55" viewBox="0 0 59.6605 55"><path d="M29.9406,36.5886a1.16525,1.16525,0,0,0,0,2.3305h.0111a1.16526,1.16526,0,0,0-.0111-2.3305ZM54.7665,0H4.894A4.89956,4.89956,0,0,0,0,4.894V37.7539a5.8328,5.8328,0,0,0,5.82622,5.8262H23.5379v4.4284H21.9066a4.89958,4.89958,0,0,0-4.894,4.8941v.9322A1.16523,1.16523,0,0,0,18.1778,55H38.3365c.035,0,.0694-.0022.1035-.0052.0623.0025,16.6178.0047,16.6178.0047a4.608,4.608,0,0,0,4.6027-4.6027V4.894A4.89952,4.89952,0,0,0,54.7665,0ZM5.82622,41.2496a3.49963,3.49963,0,0,1-3.49573-3.4957V34.2587H34.0251v6.9909H5.82622ZM34.0251,43.5801v4.4284H25.8684V43.5801ZM19.3535,52.6695a2.56725,2.56725,0,0,1,2.5531-2.3305H34.0251v.0578a4.5736,4.5736,0,0,0,.6027,2.2727ZM57.33,50.3968a2.27477,2.27477,0,0,1-2.2722,2.2722h-16.43a2.27483,2.27483,0,0,1-2.2722-2.2722V48.7072H57.33Zm0-4.0201H36.3556V26.3493H57.33Zm0-22.3579H36.3556V21.8483a2.2749,2.2749,0,0,1,2.2722-2.2722h16.43A2.27483,2.27483,0,0,1,57.33,21.8483Zm0-6.1708a4.57386,4.57386,0,0,0-2.2722-.6024h-16.43a4.58343,4.58343,0,0,0-3.0559,1.1649H29.3066a1.16525,1.16525,0,1,0,0,2.3305h4.8541a4.595,4.595,0,0,0-.1356,1.1073V31.9282H2.33049V4.894A2.56642,2.56642,0,0,1,4.894,2.33049H54.7665A2.56642,2.56642,0,0,1,57.33,4.894Zm-7.5982,2.7769H43.9636a1.16525,1.16525,0,1,0,0,2.3305h5.7682a1.16525,1.16525,0,0,0,0-2.3305Zm-2.8815,28.898h-.0151a1.16525,1.16525,0,1,0,0,2.3305h.0151a1.16525,1.16525,0,1,0,0-2.3305ZM40.1871,36.363l2.1401-2.1399a1.16531,1.16531,0,0,0-1.648-1.648l-2.964,2.964a1.16543,1.16543,0,0,0,.0001,1.6479l2.964,2.964a1.16528,1.16528,0,0,0,1.6479-1.648Zm15.7833-.8241-2.964-2.9641a1.16531,1.16531,0,0,0-1.648,1.648l2.14,2.14-2.14,2.14a1.16535,1.16535,0,1,0,1.648,1.6481l2.964-2.964A1.16546,1.16546,0,0,0,55.9704,35.5389Zm-6.4445-3.7412a1.16517,1.16517,0,0,0-1.595.4143l-4.1851,7.1213a1.16524,1.16524,0,1,0,2.0092,1.1808l4.1851-7.1214A1.16529,1.16529,0,0,0,49.5259,31.7977ZM27.4581,12.8176H11.1862a1.16525,1.16525,0,0,0,0,2.3305H27.4581a1.16525,1.16525,0,0,0,0-2.3305Zm21.0161,0H33.0754a1.16525,1.16525,0,0,0,0,2.3305H48.4742a1.16525,1.16525,0,1,0,0-2.3305Zm-10.6528-5.593H11.1862a1.16525,1.16525,0,0,0,0,2.33049H37.8214a1.16525,1.16525,0,0,0,0-2.33049Zm10.6528,0H43.8274a1.16525,1.16525,0,1,0,0,2.33049h4.6468a1.16525,1.16525,0,1,0,0-2.33049ZM31.3336,24.0028H26.6867a1.16525,1.16525,0,0,0,0,2.3305h4.6469a1.16525,1.16525,0,1,0,0-2.3305Zm-11.0973.0015H11.1862a1.16525,1.16525,0,0,0,0,2.3305h9.0501a1.16525,1.16525,0,1,0,0-2.3305Zm.4734-5.5938H11.1862a1.16525,1.16525,0,0,0,0,2.3305h9.5235a1.16525,1.16525,0,0,0,0-2.3305Zm5.2789.3408a1.16594,1.16594,0,1,0,.3414.825A1.17435,1.17435,0,0,0,25.9886,18.7513Z" style="fill: #c00"/></svg>',
						'title': 'Внедрение Битрикс 24',
						'description': 'CRM-система Битрикс 24 – универсальный продукт, который поможет упростить работу, как малого бизнеса, так и автоматизировать бизнес-процессы крупных компаний. Научим грамотно вести клиентскую базу, работать с допродажами, автоматизировать процессы и маркетинг'
					},
					{
						'icon': '<svg xmlns="http://www.w3.org/2000/svg" width="59.6605" height="55" viewBox="0 0 59.6605 55"><path d="M29.9406,36.5886a1.16525,1.16525,0,0,0,0,2.3305h.0112a1.16526,1.16526,0,1,0-.0112-2.3305ZM6.30048,32.2694a1.16442,1.16442,0,1,0,.34153.8238A1.17371,1.17371,0,0,0,6.30048,32.2694ZM54.7665,0H4.894A4.89956,4.89956,0,0,0,0,4.894V37.7539a5.8328,5.8328,0,0,0,5.82622,5.8262H23.5379v4.4284H21.9066a4.89958,4.89958,0,0,0-4.894,4.8941v.9322A1.16529,1.16529,0,0,0,18.1778,55H41.4827a1.16529,1.16529,0,0,0,1.1652-1.1652v-.9322a4.89958,4.89958,0,0,0-4.894-4.8941H36.1226V43.5801H53.8343a5.83277,5.83277,0,0,0,5.8262-5.8262V4.894A4.89952,4.89952,0,0,0,54.7665,0ZM37.7539,50.339a2.56717,2.56717,0,0,1,2.5531,2.3305H19.3535a2.56717,2.56717,0,0,1,2.5531-2.3305ZM25.8684,48.0085V43.5801h7.9237v4.4284ZM57.33,37.7539a3.49964,3.49964,0,0,1-3.4957,3.4957H5.82622a3.49963,3.49963,0,0,1-3.49573-3.4957V4.894A2.56642,2.56642,0,0,1,4.894,2.33049H28.665V31.9282H9.67153a1.16525,1.16525,0,1,0,0,2.3305H57.33Zm0-5.8257H30.9955V2.33049h23.771A2.56642,2.56642,0,0,1,57.33,4.894ZM52.6839,4.661H34.5061a1.16531,1.16531,0,0,0-1.1653,1.16525V14.216a1.16527,1.16527,0,0,0,1.1653,1.1653H52.6839a1.16531,1.16531,0,0,0,1.1652-1.1653V5.82626A1.16529,1.16529,0,0,0,52.6839,4.661ZM51.5186,13.0508H35.6713V6.9915H51.5186ZM14.6325,17.4785H7.03536a1.16525,1.16525,0,0,0,0,2.3305H14.6325a1.16525,1.16525,0,1,0,0-2.3305Zm9.8122,0H18.6423a1.16525,1.16525,0,0,0,0,2.3305h5.8024a1.16525,1.16525,0,1,0,0-2.3305Zm0,9.3207H22.2751a1.16525,1.16525,0,0,0,0,2.3305h2.1696a1.16525,1.16525,0,0,0,0-2.3305Zm-6.8158.0013H7.03536a1.16525,1.16525,0,0,0,0,2.3305H17.6289a1.16525,1.16525,0,1,0,0-2.3305Zm-6.7948-4.6612H7.03536a1.16525,1.16525,0,0,0,0,2.3305H10.8341a1.16525,1.16525,0,0,0,0-2.3305Zm13.6107,0H16.4299a1.16525,1.16525,0,1,0,0,2.3305h8.0149a1.16525,1.16525,0,0,0,0-2.3305Zm28.2391-4.6608H34.5578a1.16525,1.16525,0,0,0,0,2.3305H52.6839a1.16525,1.16525,0,0,0,0-2.3305Zm.8242,9.6638a1.16474,1.16474,0,1,0,.3414.8238A1.17117,1.17117,0,0,0,53.5081,27.1423Zm-5.5582-.3418H34.5578a1.16525,1.16525,0,0,0,0,2.3305H47.9499a1.16525,1.16525,0,0,0,0-2.3305Zm4.734-4.6612H34.5578a1.16525,1.16525,0,0,0,0,2.3305H52.6839a1.16525,1.16525,0,0,0,0-2.3305ZM8.6831,9.5549l2.1967-2.19672a1.16527,1.16527,0,1,0-1.648-1.64789L6.21139,8.73107a1.16532,1.16532,0,0,0,0,1.64793l3.02054,3.0205a1.16523,1.16523,0,1,0,1.64787-1.6479Zm16.1011-.8237L21.7637,5.71066a1.16527,1.16527,0,0,0-1.648,1.64788l2.1967,2.19672L20.1157,11.752a1.16517,1.16517,0,0,0,1.648,1.6476l3.0205-3.0205A1.16516,1.16516,0,0,0,24.7842,8.7312ZM18.2206,4.92161a1.16505,1.16505,0,0,0-1.595.41425l-4.265,7.25744a1.16524,1.16524,0,1,0,2.0092,1.1808l4.265-7.2575A1.16506,1.16506,0,0,0,18.2206,4.92161Z" style="fill: #c00"/></svg>',
						'title': 'Другие услуги',
						'description': 'Мы так же оказываем полный спектр веб услуг от <a href="#">создания сайтов</a> и <a href="#">разработки приложений</a>, до <a href="#">внедрения CRM</a> и <a href="#">сопровождения 1С</a>'
					}
				]
			.tile-slider.tile-slider--place-shadow.tile(data-flickity-options='{ "cellAlign": "left", "prevNextButtons": false, "watchCSS": true, "lazyLoad": true }')
				each item, i in dataServices
					.tile__item
						.tile__icon !{item.icon}
						.h3.tile__title
							a.tile__link(href="#") !{item.title}
						.tile__description !{item.description}

				.tile__item.tile__item--form
					.h3.-no-margin Оставить заявку
					include ../../blocks/form-short/index


	.wide-block.wide-block--city
		.page-container
			h2.h1 «Пиксель плюс» в цифрах
			-
				let dataNumbers = [
					{
						"title": "100+",
						"description": "В штате компании более 100 сотрудников"
					},
					{
						"title": "250+",
						"description": "Сайтов в успешном продвижении на постоянной основе"
					},
					{
						"title": "200+",
						"description": "Сайтов на постоянной технической основе"
					},
					{
						"title": "15 лет",
						"description": "Компания существует с 2006 года"
					},
					{
						"title": "250.000+",
						"description": "Запросов продвигается в поисковых системах Яндекса и Google"
					},
					{
						"title": "750+",
						"description": "Участие в разработке более 750 проектов"
					}
				]
			.about-numbers.tile-slider(data-flickity-options='{ "cellAlign": "left", "contain": true, "prevNextButtons": false, "watchCSS": true, "lazyLoad": true }')
				each item, i in dataNumbers
					.about-numbers__item
						.about-numbers__title #{item.title}
						.about-numbers__description #{item.description}

	.wide-block
		.page-container
			h2.h1 Наша команда
			.buttons-group(data-filter="team")
				button.button.button--tab.-is-active(data-filter-source="all") Все сотрудники
				button.button.button--tab(data-filter-source="ceo") Руководство
				button.button.button--tab(data-filter-source="fin") Офис, кадры, бухгалтерия
				button.button.button--tab(data-filter-source="man") Менеджмент
				button.button.button--tab(data-filter-source="dev") Создание и поддержка
				button.button.button--tab(data-filter-source="seo") Продвижение сайтов

			-
				let dataTeams = [
					{
						"photo": "assets/dubenchak.jpg",
						"name": "Анатолий Дубенчак",
						"post": "Генеральный директор",
						"filterTarget": "ceo"
					},
					{
						"photo": "assets/sevalnev.jpg",
						"name": "Дмитрий Севальнев",
						"post": "Руководитель департамента SEO",
						"filterTarget": "ceo"
					},
					{
						"photo": "assets/homyakov.jpg",
						"name": "Игорь Хомяков",
						"post": "Руководитель отдела SEO",
						"filterTarget": "ceo"
					},
					{
						"photo": "assets/parhomenko.jpg",
						"name": "Оксана Пархоменко",
						"post": "Руководитель отдела сопровождения",
						"filterTarget": "ceo"
					},
					{
						"photo": "assets/slepchenko.jpg",
						"name": "Тимофей Слепченко",
						"post": "Руководитель отдела создания сайтов",
						"filterTarget": "ceo"
					},
					{
						"photo": "assets/dubenchak.jpg",
						"name": "Анатолий Дубенчак",
						"post": "Генеральный директор",
						"filterTarget": "fin"
					},
					{
						"photo": "assets/sevalnev.jpg",
						"name": "Дмитрий Севальнев",
						"post": "Руководитель департамента SEO",
						"filterTarget": "fin"
					},
					{
						"photo": "assets/homyakov.jpg",
						"name": "Игорь Хомяков",
						"post": "Руководитель отдела SEO",
						"filterTarget": "dev"
					},
					{
						"photo": "assets/parhomenko.jpg",
						"name": "Оксана Пархоменко",
						"post": "Руководитель отдела сопровождения",
						"filterTarget": "dev"
					},
					{
						"photo": "assets/slepchenko.jpg",
						"name": "Тимофей Слепченко",
						"post": "Руководитель отдела создания сайтов",
						"filterTarget": "dev"
					},
								{
						"photo": "assets/dubenchak.jpg",
						"name": "Анатолий Дубенчак",
						"post": "Генеральный директор",
						"filterTarget": "dev"
					},
					{
						"photo": "assets/sevalnev.jpg",
						"name": "Дмитрий Севальнев",
						"post": "Руководитель департамента SEO",
						"filterTarget": "dev"
					},
					{
						"photo": "assets/homyakov.jpg",
						"name": "Игорь Хомяков",
						"post": "Руководитель отдела SEO",
						"filterTarget": "dev"
					},
					{
						"photo": "assets/parhomenko.jpg",
						"name": "Оксана Пархоменко",
						"post": "Руководитель отдела сопровождения",
						"filterTarget": "dev"
					}
				]
			.v-space--x4
			.team-list.tile-slider(data-filter-block="team", data-flickity-options='{ "cellAlign": "left", "contain": true, "prevNextButtons": false, "watchCSS": true, "groupCells": true, "cellSelector": ".team-list__item:not(.-is-hidden)", "lazyLoad": true }')
				each item, i in dataTeams
					.team-list__item(data-filter-target=item.filterTarget)
						.team-list__image
							a(href="#")
								img(src=item.photo, width="165", height="165")
						.team-list__name
							a(href="#") #{item.name}
						.team-list__post #{item.post}

				.team-list__item
					a.team-list__image.team-list__image--join(href="#")
					.team-list__name
						a(href="#") Присоединиться к команде
			.v-space
			p.-ta-r
				a(href="#").-fw-sb.rarr Ещё

	.wide-block.wide-block--gray-lighten
		.page-container
			h2.h1 Наши достижения
			p.subtitle Входим в число лучших компаний России в сферах интернет-рекламы и разработки сайтов по результатам самых авторитетных рейтингов
			.v-space--x4
			include ../../blocks/achievements/index
			.v-space--x3
			.buttons-group
				a.button.button--primary Подробнее о компании
				a.button.button--not-fill Наши достижения

	.wide-block.wide-block--gray-lighter
		.page-container
			h2.h1 Наши клиенты
			include ../../blocks/tile-clients/index
			.v-space--x3
			.buttons-group
				a.button.button--primary Отзывы клиентов
				a.button.button--not-fill Наше портфолио

	.wide-block
		.page-container
			h2.h1 Новости
			-
				let dataNews = [
					{
						"image": "assets/goodbyecovid.jpg",
						"title": "SEO глазами клиентов 2020",
						"description": "Почетное 6 место в рейтинге «SEO глазами клиентов 2020» — наше!",
						"date": "29 октября 2020"
					},
					{
						"image": "assets/82factors.jpg",
						"title": "Качество ещё никогда не было так доступно!",
						"description": "Экономьте на продвижении и поддержке сайта до 40% ...",
						"date": "29 октября 2020"
					},
					{
						"image": "assets/goodbyecovid.jpg",
						"title": "SEO глазами клиентов 2020",
						"description": "Почетное 6 место в рейтинге «SEO глазами клиентов 2020» — наше!",
						"date": "29 октября 2020"
					},
					{
						"image": "assets/82factors.jpg",
						"title": "Качество ещё никогда не было так доступно!",
						"description": "Экономьте на продвижении и поддержке сайта до 40% ...",
						"date": "29 октября 2020"
					},
					{
						"image": "assets/goodbyecovid.jpg",
						"title": "SEO глазами клиентов 2020",
						"description": "Почетное 6 место в рейтинге «SEO глазами клиентов 2020» — наше!",
						"date": "29 октября 2020"
					},
					{
						"image": "assets/82factors.jpg",
						"title": "Качество ещё никогда не было так доступно!",
						"description": "Экономьте на продвижении и поддержке сайта до 40% ...",
						"date": "29 октября 2020"
					}
				]
			.tile-slider.tile-slider--place-shadow.tile-news(data-filter-block="news", data-flickity-options='{ "cellAlign": "left", "prevNextButtons": true, "groupCells": true, "lazyLoad": true }')
				each item, i in dataNews
					.tile-news__item
						.tile-news__image
							if (item.image)
								img(src=item.image)
							else
								svg(width="52" height="55" viewBox="0 0 52 55" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(fill-rule="evenodd" clip-rule="evenodd" d="M26.9024 0H16.6138C14.2424 0 11.9093 1.95062 11.3739 4.32197L8.96427 14.8401C8.88778 15.146 9.11726 15.4903 9.46149 15.4903H23.6131C23.8426 15.4903 24.0721 15.3373 24.1103 15.0695L27.3996 0.650208C27.5143 0.344227 27.2466 0 26.9024 0ZM21.4712 24.0195H7.31963C7.09014 24.0195 6.86066 24.1725 6.82241 24.4402L0.0143428 54.3498C-0.0239048 54.5028 0.0143432 54.6558 0.129086 54.8088C0.243829 54.9235 0.358571 55 0.549809 55H10.0735C12.8273 55 15.6576 52.7434 16.2696 49.9896L22.0067 24.7079C22.0449 24.5549 22.0067 24.402 21.892 24.249C21.7772 24.096 21.6242 24.0195 21.4712 24.0195ZM45.7202 24.0195L31.5686 23.9812C31.3391 23.9812 31.1096 24.1342 31.0714 24.4019L27.7438 38.8595C27.7056 39.0125 27.7438 39.1655 27.8586 39.3185C27.9733 39.4332 28.0881 39.5097 28.2793 39.5097H38.4149C40.7863 39.5097 43.2723 37.5974 43.8461 35.2643L46.2939 24.7079C46.3321 24.5549 46.2939 24.402 46.1792 24.249C46.0262 24.096 45.9114 24.0195 45.7202 24.0195ZM47.6708 0H37.0762C36.8467 0 36.6173 0.15299 36.579 0.420723L33.2132 14.8783C33.175 15.0313 33.2132 15.1843 33.328 15.3373C33.4427 15.452 33.5575 15.5285 33.7487 15.5285H47.9768C48.2063 15.5285 48.4358 15.3755 48.474 15.1078L50.9983 4.32197C51.5338 1.91238 50.0422 0 47.6708 0Z" fill="#CC0000")
						.tile-news__info
							.tile-news__title
								a(href="#") #{item.title}
							.tile-news__description #{item.description}
							.tile-news__date #{item.date}

	.wide-block.wide-block--sevalnev
		.page-container
			.page-container__inner.block-width.block-width--md-75
				h2.h1 Видео с конференций
				p.subtitle.block-width.block-width--md-75 Достичь максимальной отдачи от SEO можно только с командой экспертов. В «Пиксель Плюс» мы сумели сплотить коллектив профессионалов экстра-класса, нацеленных на достижение результата по вашему проекту.
				.v-space--x4
				include ../../blocks/video-list/index

	.wide-block.wide-block--gray-lighten
		.page-container
			h2.h1 Публикации в сми
			-
				let dataArticles = [
					{
						"image": "assets/seonews-logo.png",
						"title": "5 книг от эксперта: Дмитрий Севальнев (Пиксель Плюс)",
						"date": "10 июля 2019"
					},
					{
						"title": "8 шагов увеличения конверсии, полная инструкция: от основ CR и CRO до лайфхаков",
						"date": "4 июля 2019"
					},
					{
						"title": "Полный чек-лист по SEO для СМИ: что требуется знать авторам, редакторам и техспециалистам",
						"date": "4 июля 2019"
					},
					{
						"title": "8 шагов увеличения конверсии, полная инструкция: от основ CR и CRO до лайфхаков",
						"date": "4 июля 2019"
					},
					{
						"image": "assets/seonews-logo.png",
						"title": "5 книг от эксперта: Дмитрий Севальнев (Пиксель Плюс)",
						"date": "10 июля 2019"
					},
					{
						"title": "8 шагов увеличения конверсии, полная инструкция: от основ CR и CRO до лайфхаков",
						"date": "4 июля 2019"
					},
					{
						"title": "Полный чек-лист по SEO для СМИ: что требуется знать авторам, редакторам и техспециалистам",
						"date": "4 июля 2019"
					},
					{
						"title": "8 шагов увеличения конверсии, полная инструкция: от основ CR и CRO до лайфхаков",
						"date": "4 июля 2019"
					}
				]
			.tile-slider.tile-slider--place-shadow.tile-news(data-flickity-options='{ "cellAlign": "left", "prevNextButtons": true, "groupCells": true, "lazyLoad": true }')
				each item, i in dataArticles
					.tile-news__item
						a.tile-news__image
							if (item.image)
								img(src=item.image)
							else
								svg(width="52" height="55" viewBox="0 0 52 55" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(fill-rule="evenodd" clip-rule="evenodd" d="M26.9024 0H16.6138C14.2424 0 11.9093 1.95062 11.3739 4.32197L8.96427 14.8401C8.88778 15.146 9.11726 15.4903 9.46149 15.4903H23.6131C23.8426 15.4903 24.0721 15.3373 24.1103 15.0695L27.3996 0.650208C27.5143 0.344227 27.2466 0 26.9024 0ZM21.4712 24.0195H7.31963C7.09014 24.0195 6.86066 24.1725 6.82241 24.4402L0.0143428 54.3498C-0.0239048 54.5028 0.0143432 54.6558 0.129086 54.8088C0.243829 54.9235 0.358571 55 0.549809 55H10.0735C12.8273 55 15.6576 52.7434 16.2696 49.9896L22.0067 24.7079C22.0449 24.5549 22.0067 24.402 21.892 24.249C21.7772 24.096 21.6242 24.0195 21.4712 24.0195ZM45.7202 24.0195L31.5686 23.9812C31.3391 23.9812 31.1096 24.1342 31.0714 24.4019L27.7438 38.8595C27.7056 39.0125 27.7438 39.1655 27.8586 39.3185C27.9733 39.4332 28.0881 39.5097 28.2793 39.5097H38.4149C40.7863 39.5097 43.2723 37.5974 43.8461 35.2643L46.2939 24.7079C46.3321 24.5549 46.2939 24.402 46.1792 24.249C46.0262 24.096 45.9114 24.0195 45.7202 24.0195ZM47.6708 0H37.0762C36.8467 0 36.6173 0.15299 36.579 0.420723L33.2132 14.8783C33.175 15.0313 33.2132 15.1843 33.328 15.3373C33.4427 15.452 33.5575 15.5285 33.7487 15.5285H47.9768C48.2063 15.5285 48.4358 15.3755 48.474 15.1078L50.9983 4.32197C51.5338 1.91238 50.0422 0 47.6708 0Z" fill="#CC0000")
						.tile-news__info
							.tile-news__title
								a(href="#") #{item.title}
							.tile-news__date #{item.date}

	.wide-block.wide-block--gray-circle
		.page-container
			h2.h1 Преимущества создания и продвижения сайтов в «Пиксель Плюс»
			include ../../blocks/infographics/type2

	.wide-block.wide-block--meeting.wide-block--footer
		.page-container