extends ../layout.pug

block meta
    title Главная
    meta(name='description', content='')

block breadcrumb
block slider
    include ../../blocks/main-slider/index
block content
    .wide-block.wide-block--gray-lighter
        .page-container
            .tile-slider.tile-slider--place-shadow.tile(data-flickity-options='{ "cellAlign": "left", "prevNextButtons": false, "watchCSS": true, "lazyLoad": true }')
                each item, i in serviceList
                    .tile__item
                        .tile__icon !{item.icon}
                        .tile__title
                            a.tile__link(href="#") !{item.title}
                        .tile__description !{item.description}

                .tile__item.tile__item--form
                    .h3.-no-margin Оставить заявку
                    include ../../blocks/form-short/index


    .wide-block.wide-block--city
        .page-container
            h2.h1.wow.animate__fadeInDown(data-wow-duration=".5s") «Пиксель плюс» в цифрах
            include ../../blocks/about-numbers/index

    .wide-block
        .page-container(id="team")
            h2.h1 Наша команда
            .buttons-group(data-filter="team")
                button.button.button--tab.-is-active(data-filter-source="all") Все сотрудники
                button.button.button--tab(data-filter-source="ceo") Руководство
                button.button.button--tab(data-filter-source="fin") Офис, кадры, бухгалтерия
                button.button.button--tab(data-filter-source="man") Менеджмент
                button.button.button--tab(data-filter-source="dev") Создание и поддержка
                button.button.button--tab(data-filter-source="seo") Продвижение сайтов

            .v-space--x4
            .team-list.tile-slider(data-filter-block="team", data-flickity-options='{ "cellAlign": "left", "contain": true, "prevNextButtons": false, "watchCSS": true, "groupCells": true, "cellSelector": ".team-list__item:not(.-is-hidden)", "lazyLoad": true }')
                each item, i in teamList
                    .team-list__item.wow.animate__zoomIn(data-filter-target=item.filterTarget data-wow-duration=".5s")
                        .team-list__image
                            a(href="#")
                                img(src=item.photo, width="165", height="165")
                        .team-list__name
                            a(href="#") #{item.name}
                        .team-list__post #{item.post}

                .team-list__item
                    a.team-list__image.team-list__image--join(href="#")
                    .team-list__name

                        a(href="#") Присоединиться к команде
            .v-space
            p.-ta-r
                a(href="#").-fw-sb.rarr Ещё

    .wide-block.wide-block--gray-lighten
        .page-container
            h2.h1 Наши достижения
            p.subtitle Входим в число лучших компаний России в сферах интернет-рекламы и разработки сайтов по результатам самых авторитетных рейтингов
            .v-space--x4
            include ../../blocks/achievements/index
            .v-space--x3
            .buttons-group
                a.button.button--primary Подробнее о компании
                a.button.button--not-fill Наши достижения

    .wide-block.wide-block--gray-lighter
        .page-container
            h2.h1 Наши клиенты
            include ../../blocks/logo-tile/index
            .v-space--x3
            .buttons-group
                a.button.button--primary Отзывы клиентов
                a.button.button--not-fill Наше портфолио

    .wide-block
        .page-container
            h2.h1 Новости
            -
                let dataNews = [
                    {
                        "image": "assets/goodbyecovid.jpg",
                        "title": "SEO глазами клиентов 2020",
                        "description": "Почетное 6 место в рейтинге «SEO глазами клиентов 2020» — наше!",
                        "date": "29 октября 2020"
                    },
                    {
                        "image": "assets/82factors.jpg",
                        "title": "Качество ещё никогда не было так доступно!",
                        "description": "Экономьте на продвижении и поддержке сайта до 40% ...",
                        "date": "29 октября 2020"
                    },
                    {
                        "image": "assets/goodbyecovid.jpg",
                        "title": "SEO глазами клиентов 2020",
                        "description": "Почетное 6 место в рейтинге «SEO глазами клиентов 2020» — наше!",
                        "date": "29 октября 2020"
                    },
                    {
                        "image": "assets/82factors.jpg",
                        "title": "Качество ещё никогда не было так доступно!",
                        "description": "Экономьте на продвижении и поддержке сайта до 40% ...",
                        "date": "29 октября 2020"
                    },
                    {
                        "image": "assets/goodbyecovid.jpg",
                        "title": "SEO глазами клиентов 2020",
                        "description": "Почетное 6 место в рейтинге «SEO глазами клиентов 2020» — наше!",
                        "date": "29 октября 2020"
                    },
                    {
                        "image": "assets/82factors.jpg",
                        "title": "Качество ещё никогда не было так доступно!",
                        "description": "Экономьте на продвижении и поддержке сайта до 40% ...",
                        "date": "29 октября 2020"
                    }
                ]
            .tile-slider.tile-slider--place-shadow.tile-news(data-filter-block="news", data-flickity-options='{ "cellAlign": "left", "prevNextButtons": true, "groupCells": true, "lazyLoad": true }')
                each item, i in dataNews
                    .tile-news__item
                        .tile-news__image
                            if (item.image)
                                img(src=item.image)
                            else
                                svg(width="52" height="55" viewBox="0 0 52 55" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(fill-rule="evenodd" clip-rule="evenodd" d="M26.9024 0H16.6138C14.2424 0 11.9093 1.95062 11.3739 4.32197L8.96427 14.8401C8.88778 15.146 9.11726 15.4903 9.46149 15.4903H23.6131C23.8426 15.4903 24.0721 15.3373 24.1103 15.0695L27.3996 0.650208C27.5143 0.344227 27.2466 0 26.9024 0ZM21.4712 24.0195H7.31963C7.09014 24.0195 6.86066 24.1725 6.82241 24.4402L0.0143428 54.3498C-0.0239048 54.5028 0.0143432 54.6558 0.129086 54.8088C0.243829 54.9235 0.358571 55 0.549809 55H10.0735C12.8273 55 15.6576 52.7434 16.2696 49.9896L22.0067 24.7079C22.0449 24.5549 22.0067 24.402 21.892 24.249C21.7772 24.096 21.6242 24.0195 21.4712 24.0195ZM45.7202 24.0195L31.5686 23.9812C31.3391 23.9812 31.1096 24.1342 31.0714 24.4019L27.7438 38.8595C27.7056 39.0125 27.7438 39.1655 27.8586 39.3185C27.9733 39.4332 28.0881 39.5097 28.2793 39.5097H38.4149C40.7863 39.5097 43.2723 37.5974 43.8461 35.2643L46.2939 24.7079C46.3321 24.5549 46.2939 24.402 46.1792 24.249C46.0262 24.096 45.9114 24.0195 45.7202 24.0195ZM47.6708 0H37.0762C36.8467 0 36.6173 0.15299 36.579 0.420723L33.2132 14.8783C33.175 15.0313 33.2132 15.1843 33.328 15.3373C33.4427 15.452 33.5575 15.5285 33.7487 15.5285H47.9768C48.2063 15.5285 48.4358 15.3755 48.474 15.1078L50.9983 4.32197C51.5338 1.91238 50.0422 0 47.6708 0Z" fill="#CC0000")
                        .tile-news__info
                            .tile-news__title
                                a(href="#") #{item.title}
                            .tile-news__description #{item.description}
                            .tile-news__date #{item.date}

    .wide-block.wide-block--sevalnev
        .page-container
            .page-container__inner.block-width.block-width--md-75
                h2.h1 Видео с конференций
                p.subtitle.block-width.block-width--md-75 Достичь максимальной отдачи от SEO можно только с командой экспертов. В «Пиксель Плюс» мы сумели сплотить коллектив профессионалов экстра-класса, нацеленных на достижение результата по вашему проекту.
                .v-space--x4
                include ../../blocks/video-list/index

    .wide-block.wide-block--gray-lighten
        .page-container
            h2.h1 Публикации в сми
            -
                let dataArticles = [
                    {
                        "image": "assets/seonews-logo.png",
                        "title": "5 книг от эксперта: Дмитрий Севальнев (Пиксель Плюс)",
                        "date": "10 июля 2019"
                    },
                    {
                        "title": "8 шагов увеличения конверсии, полная инструкция: от основ CR и CRO до лайфхаков",
                        "date": "4 июля 2019"
                    },
                    {
                        "title": "Полный чек-лист по SEO для СМИ: что требуется знать авторам, редакторам и техспециалистам",
                        "date": "4 июля 2019"
                    },
                    {
                        "title": "8 шагов увеличения конверсии, полная инструкция: от основ CR и CRO до лайфхаков",
                        "date": "4 июля 2019"
                    },
                    {
                        "image": "assets/seonews-logo.png",
                        "title": "5 книг от эксперта: Дмитрий Севальнев (Пиксель Плюс)",
                        "date": "10 июля 2019"
                    },
                    {
                        "title": "8 шагов увеличения конверсии, полная инструкция: от основ CR и CRO до лайфхаков",
                        "date": "4 июля 2019"
                    },
                    {
                        "title": "Полный чек-лист по SEO для СМИ: что требуется знать авторам, редакторам и техспециалистам",
                        "date": "4 июля 2019"
                    },
                    {
                        "title": "8 шагов увеличения конверсии, полная инструкция: от основ CR и CRO до лайфхаков",
                        "date": "4 июля 2019"
                    }
                ]
            .tile-slider.tile-slider--place-shadow.tile-news(data-flickity-options='{ "cellAlign": "left", "prevNextButtons": true, "groupCells": true, "lazyLoad": true }')
                each item, i in dataArticles
                    .tile-news__item
                        a.tile-news__image
                            if (item.image)
                                img(src=item.image)
                            else
                                svg(width="52" height="55" viewBox="0 0 52 55" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(fill-rule="evenodd" clip-rule="evenodd" d="M26.9024 0H16.6138C14.2424 0 11.9093 1.95062 11.3739 4.32197L8.96427 14.8401C8.88778 15.146 9.11726 15.4903 9.46149 15.4903H23.6131C23.8426 15.4903 24.0721 15.3373 24.1103 15.0695L27.3996 0.650208C27.5143 0.344227 27.2466 0 26.9024 0ZM21.4712 24.0195H7.31963C7.09014 24.0195 6.86066 24.1725 6.82241 24.4402L0.0143428 54.3498C-0.0239048 54.5028 0.0143432 54.6558 0.129086 54.8088C0.243829 54.9235 0.358571 55 0.549809 55H10.0735C12.8273 55 15.6576 52.7434 16.2696 49.9896L22.0067 24.7079C22.0449 24.5549 22.0067 24.402 21.892 24.249C21.7772 24.096 21.6242 24.0195 21.4712 24.0195ZM45.7202 24.0195L31.5686 23.9812C31.3391 23.9812 31.1096 24.1342 31.0714 24.4019L27.7438 38.8595C27.7056 39.0125 27.7438 39.1655 27.8586 39.3185C27.9733 39.4332 28.0881 39.5097 28.2793 39.5097H38.4149C40.7863 39.5097 43.2723 37.5974 43.8461 35.2643L46.2939 24.7079C46.3321 24.5549 46.2939 24.402 46.1792 24.249C46.0262 24.096 45.9114 24.0195 45.7202 24.0195ZM47.6708 0H37.0762C36.8467 0 36.6173 0.15299 36.579 0.420723L33.2132 14.8783C33.175 15.0313 33.2132 15.1843 33.328 15.3373C33.4427 15.452 33.5575 15.5285 33.7487 15.5285H47.9768C48.2063 15.5285 48.4358 15.3755 48.474 15.1078L50.9983 4.32197C51.5338 1.91238 50.0422 0 47.6708 0Z" fill="#CC0000")
                        .tile-news__info
                            .tile-news__title
                                a(href="#") #{item.title}
                            .tile-news__date #{item.date}

    .wide-block.wide-block--gray-circle
        .page-container
            h2.h1 Преимущества создания и продвижения сайтов в «Пиксель Плюс»
            include ../../blocks/infographics/type2

    .wide-block.wide-block--meeting.wide-block--footer
        .page-container