extends ../layout.pug

block meta
  title Инфографика
  meta(name='description', content='')

block breadcrumb
block content
  .wide-block.wide-block--gray-lighter
    .page-container
      h1 Тип #1
      .splide.carousel.carousel--shadow.splide-nav(data-splide='{"autoWidth": false, "arrows": false, "breakpoints": { "992": { "destroy": true }} }')
        ul.splide__pagination.splide__pagination--default
        .splide__track
          .splide__list.d-grid.d-grid--md-6.d-grid--gap-lg
            each item in [1, 1, 1, 1, 1, 1]
              .d-grid__item.splide__slide
                .infographics-item.infographics-item--type1
                  .infographics-item__icon.infographics-item__icon--lg.infographics-item__icon--shadow-left
                    svg(xmlns="http://www.w3.org/2000/svg" width="54.99845" height="55" viewBox="0 0 54.99845 55")
                      path(d="M53.9548,1.8254l-.0002-.00128a1.07445,1.07445,0,0,0-.7792-.781A34.32676,34.32676,0,0,0,22.0566,8.58573l-.939-.29218A15.65026,15.65026,0,0,0,5.36,12.1812L.31559,17.2256a1.07454,1.07454,0,0,0,0,1.5194L6.8181,25.2476l1.238,1.238L4.79075,29.751a1.07454,1.07454,0,0,0,0,1.5194L7.71142,34.191l-3.5246,9.0102a1.07426,1.07426,0,0,0,1.33106,1.4135l1.81756-.5878L5.02417,48.558a1.0743,1.0743,0,0,0,1.44675,1.4443l4.51838-2.314-.586,1.812a1.07417,1.07417,0,0,0,1.4133,1.331l9.0102-3.5246,2.9143,2.9144a1.07433,1.07433,0,0,0,1.5192,0l3.2654-3.2654,1.2271,1.227,6.5025,6.5027a1.07433,1.07433,0,0,0,1.5192,0l5.0443-5.0443a15.65021,15.65021,0,0,0,3.8877-15.7575l-.2921-.9393A34.32923,34.32923,0,0,0,53.9548,1.8254ZM7.57768,22.9685,2.59442,17.9853l4.2847-4.2847a13.50729,13.50729,0,0,1,13.38648-3.42ZM13.1452,48.0043l.6873-2.1253a1.07422,1.07422,0,0,0-1.5119-1.2867L8.447,46.5761l1.97947-3.8804a1.0743,1.0743,0,0,0-1.28757-1.5104l-2.12521.6874,2.35617-6.0234L19.1686,45.648Zm11.3558-.0624L21.8611,45.302l-.0048-.0048L9.72148,33.1625l-.006-.006L7.06958,30.5106l2.50581-2.5057L27.0067,45.4361Zm16.7989.1795-4.2847,4.2847L32.032,47.4227,44.7199,34.7348A13.50691,13.50691,0,0,1,41.2999,48.1214Zm2.1293-15.1345L30.5126,45.9035,9.097,24.4879l2.11986-2.1198,4.8938,4.8937a1.07424,1.07424,0,0,0,1.5191-1.5193L12.736,20.8487l9.2763-9.2762A32.34129,32.34129,0,0,1,52.0224,2.97481,32.339,32.339,0,0,1,43.4292,32.9869ZM20.5163,28.6285a1.07517,1.07517,0,1,0,.3147.7606A1.08135,1.08135,0,0,0,20.5163,28.6285ZM44.3534,16.4551a1.07429,1.07429,0,0,0-1.9375.9287,10.21434,10.21434,0,1,1-4.785-4.7923,1.07433,1.07433,0,0,0,.9316-1.9362,12.36271,12.36271,0,1,0,5.7909,5.7998ZM41.966,13.0797l-.0197-.0198a1.07432,1.07432,0,1,0-1.5253,1.5133l.0197.0197a1.07428,1.07428,0,1,0,1.5253-1.5132ZM31.6529,15.3113H27.7886a1.07418,1.07418,0,0,0-1.0742,1.0743V20.25a1.07425,1.07425,0,0,0,2.1485,0V17.4599h2.79a1.0743,1.0743,0,0,0,0-2.1486Zm6.9623,6.962a1.07415,1.07415,0,0,0-1.0742,1.0742v2.7902h-2.79a1.07425,1.07425,0,0,0,0,2.1485h3.8643a1.07418,1.07418,0,0,0,1.0742-1.0743V23.3474A1.07428,1.07428,0,0,0,38.6152,22.2733Zm-.6885-1.7016a1.074,1.074,0,0,0-1.3098-.7697l-7.3705,1.9142a1.0742,1.0742,0,1,0,.5401,2.0794l7.3706-1.9141A1.07417,1.07417,0,0,0,37.9267,20.5717ZM4.2329,50.7665a1.07429,1.07429,0,0,0-1.51915-.0001L.31461,53.1657a1.07429,1.07429,0,1,0,1.51915,1.5194L4.2329,52.2859A1.07434,1.07434,0,0,0,4.2329,50.7665Zm5.15685.6445a1.07452,1.07452,0,0,0-1.51926,0L6.11588,53.1657a1.07425,1.07425,0,1,0,1.51925,1.5192l1.75462-1.7546A1.07442,1.07442,0,0,0,9.38975,51.411ZM3.89323,45.6284a1.07446,1.07446,0,0,0-1.51936,0L.31461,47.6879a1.07425,1.07425,0,1,0,1.51915,1.5193l2.05947-2.0594A1.07454,1.07454,0,0,0,3.89323,45.6284Z")
                  .infographics-item__description Высокая узнаваемость маркетплейса в России

      .h1 Тип #2 без заголовка
      .d-grid.d-grid--md-5.infographics-list.infographics-list--stages
        each item in [1,1,1,1,1]
          .d-grid__item
            .infographics-item.infographics-item--type2.infographics-item--tile.infographics-item--border-top-primary
              .infographics-item__icon.infographics-item__icon--shadow-left
                svg(xmlns="http://www.w3.org/2000/svg" width="54.99845" height="55" viewBox="0 0 54.99845 55")
                  path(d="M53.9548,1.8254l-.0002-.00128a1.07445,1.07445,0,0,0-.7792-.781A34.32676,34.32676,0,0,0,22.0566,8.58573l-.939-.29218A15.65026,15.65026,0,0,0,5.36,12.1812L.31559,17.2256a1.07454,1.07454,0,0,0,0,1.5194L6.8181,25.2476l1.238,1.238L4.79075,29.751a1.07454,1.07454,0,0,0,0,1.5194L7.71142,34.191l-3.5246,9.0102a1.07426,1.07426,0,0,0,1.33106,1.4135l1.81756-.5878L5.02417,48.558a1.0743,1.0743,0,0,0,1.44675,1.4443l4.51838-2.314-.586,1.812a1.07417,1.07417,0,0,0,1.4133,1.331l9.0102-3.5246,2.9143,2.9144a1.07433,1.07433,0,0,0,1.5192,0l3.2654-3.2654,1.2271,1.227,6.5025,6.5027a1.07433,1.07433,0,0,0,1.5192,0l5.0443-5.0443a15.65021,15.65021,0,0,0,3.8877-15.7575l-.2921-.9393A34.32923,34.32923,0,0,0,53.9548,1.8254ZM7.57768,22.9685,2.59442,17.9853l4.2847-4.2847a13.50729,13.50729,0,0,1,13.38648-3.42ZM13.1452,48.0043l.6873-2.1253a1.07422,1.07422,0,0,0-1.5119-1.2867L8.447,46.5761l1.97947-3.8804a1.0743,1.0743,0,0,0-1.28757-1.5104l-2.12521.6874,2.35617-6.0234L19.1686,45.648Zm11.3558-.0624L21.8611,45.302l-.0048-.0048L9.72148,33.1625l-.006-.006L7.06958,30.5106l2.50581-2.5057L27.0067,45.4361Zm16.7989.1795-4.2847,4.2847L32.032,47.4227,44.7199,34.7348A13.50691,13.50691,0,0,1,41.2999,48.1214Zm2.1293-15.1345L30.5126,45.9035,9.097,24.4879l2.11986-2.1198,4.8938,4.8937a1.07424,1.07424,0,0,0,1.5191-1.5193L12.736,20.8487l9.2763-9.2762A32.34129,32.34129,0,0,1,52.0224,2.97481,32.339,32.339,0,0,1,43.4292,32.9869ZM20.5163,28.6285a1.07517,1.07517,0,1,0,.3147.7606A1.08135,1.08135,0,0,0,20.5163,28.6285ZM44.3534,16.4551a1.07429,1.07429,0,0,0-1.9375.9287,10.21434,10.21434,0,1,1-4.785-4.7923,1.07433,1.07433,0,0,0,.9316-1.9362,12.36271,12.36271,0,1,0,5.7909,5.7998ZM41.966,13.0797l-.0197-.0198a1.07432,1.07432,0,1,0-1.5253,1.5133l.0197.0197a1.07428,1.07428,0,1,0,1.5253-1.5132ZM31.6529,15.3113H27.7886a1.07418,1.07418,0,0,0-1.0742,1.0743V20.25a1.07425,1.07425,0,0,0,2.1485,0V17.4599h2.79a1.0743,1.0743,0,0,0,0-2.1486Zm6.9623,6.962a1.07415,1.07415,0,0,0-1.0742,1.0742v2.7902h-2.79a1.07425,1.07425,0,0,0,0,2.1485h3.8643a1.07418,1.07418,0,0,0,1.0742-1.0743V23.3474A1.07428,1.07428,0,0,0,38.6152,22.2733Zm-.6885-1.7016a1.074,1.074,0,0,0-1.3098-.7697l-7.3705,1.9142a1.0742,1.0742,0,1,0,.5401,2.0794l7.3706-1.9141A1.07417,1.07417,0,0,0,37.9267,20.5717ZM4.2329,50.7665a1.07429,1.07429,0,0,0-1.51915-.0001L.31461,53.1657a1.07429,1.07429,0,1,0,1.51915,1.5194L4.2329,52.2859A1.07434,1.07434,0,0,0,4.2329,50.7665Zm5.15685.6445a1.07452,1.07452,0,0,0-1.51926,0L6.11588,53.1657a1.07425,1.07425,0,1,0,1.51925,1.5192l1.75462-1.7546A1.07442,1.07442,0,0,0,9.38975,51.411ZM3.89323,45.6284a1.07446,1.07446,0,0,0-1.51936,0L.31461,47.6879a1.07425,1.07425,0,1,0,1.51915,1.5193l2.05947-2.0594A1.07454,1.07454,0,0,0,3.89323,45.6284Z")
              .infographics-item__title Провести аудит юзабилити вашего сайта

      .h1 Тип #2
      .d-grid.d-grid--md-4
        each item in [1,1,1,1]
          .d-grid__item
            .infographics-item.infographics-item--type2.infographics-item--tile.infographics-item--border-top-hover
              .infographics-item__icon.infographics-item__icon--shadow-left
                svg(xmlns="http://www.w3.org/2000/svg" width="54.99845" height="55" viewBox="0 0 54.99845 55")
                  path(d="M53.9548,1.8254l-.0002-.00128a1.07445,1.07445,0,0,0-.7792-.781A34.32676,34.32676,0,0,0,22.0566,8.58573l-.939-.29218A15.65026,15.65026,0,0,0,5.36,12.1812L.31559,17.2256a1.07454,1.07454,0,0,0,0,1.5194L6.8181,25.2476l1.238,1.238L4.79075,29.751a1.07454,1.07454,0,0,0,0,1.5194L7.71142,34.191l-3.5246,9.0102a1.07426,1.07426,0,0,0,1.33106,1.4135l1.81756-.5878L5.02417,48.558a1.0743,1.0743,0,0,0,1.44675,1.4443l4.51838-2.314-.586,1.812a1.07417,1.07417,0,0,0,1.4133,1.331l9.0102-3.5246,2.9143,2.9144a1.07433,1.07433,0,0,0,1.5192,0l3.2654-3.2654,1.2271,1.227,6.5025,6.5027a1.07433,1.07433,0,0,0,1.5192,0l5.0443-5.0443a15.65021,15.65021,0,0,0,3.8877-15.7575l-.2921-.9393A34.32923,34.32923,0,0,0,53.9548,1.8254ZM7.57768,22.9685,2.59442,17.9853l4.2847-4.2847a13.50729,13.50729,0,0,1,13.38648-3.42ZM13.1452,48.0043l.6873-2.1253a1.07422,1.07422,0,0,0-1.5119-1.2867L8.447,46.5761l1.97947-3.8804a1.0743,1.0743,0,0,0-1.28757-1.5104l-2.12521.6874,2.35617-6.0234L19.1686,45.648Zm11.3558-.0624L21.8611,45.302l-.0048-.0048L9.72148,33.1625l-.006-.006L7.06958,30.5106l2.50581-2.5057L27.0067,45.4361Zm16.7989.1795-4.2847,4.2847L32.032,47.4227,44.7199,34.7348A13.50691,13.50691,0,0,1,41.2999,48.1214Zm2.1293-15.1345L30.5126,45.9035,9.097,24.4879l2.11986-2.1198,4.8938,4.8937a1.07424,1.07424,0,0,0,1.5191-1.5193L12.736,20.8487l9.2763-9.2762A32.34129,32.34129,0,0,1,52.0224,2.97481,32.339,32.339,0,0,1,43.4292,32.9869ZM20.5163,28.6285a1.07517,1.07517,0,1,0,.3147.7606A1.08135,1.08135,0,0,0,20.5163,28.6285ZM44.3534,16.4551a1.07429,1.07429,0,0,0-1.9375.9287,10.21434,10.21434,0,1,1-4.785-4.7923,1.07433,1.07433,0,0,0,.9316-1.9362,12.36271,12.36271,0,1,0,5.7909,5.7998ZM41.966,13.0797l-.0197-.0198a1.07432,1.07432,0,1,0-1.5253,1.5133l.0197.0197a1.07428,1.07428,0,1,0,1.5253-1.5132ZM31.6529,15.3113H27.7886a1.07418,1.07418,0,0,0-1.0742,1.0743V20.25a1.07425,1.07425,0,0,0,2.1485,0V17.4599h2.79a1.0743,1.0743,0,0,0,0-2.1486Zm6.9623,6.962a1.07415,1.07415,0,0,0-1.0742,1.0742v2.7902h-2.79a1.07425,1.07425,0,0,0,0,2.1485h3.8643a1.07418,1.07418,0,0,0,1.0742-1.0743V23.3474A1.07428,1.07428,0,0,0,38.6152,22.2733Zm-.6885-1.7016a1.074,1.074,0,0,0-1.3098-.7697l-7.3705,1.9142a1.0742,1.0742,0,1,0,.5401,2.0794l7.3706-1.9141A1.07417,1.07417,0,0,0,37.9267,20.5717ZM4.2329,50.7665a1.07429,1.07429,0,0,0-1.51915-.0001L.31461,53.1657a1.07429,1.07429,0,1,0,1.51915,1.5194L4.2329,52.2859A1.07434,1.07434,0,0,0,4.2329,50.7665Zm5.15685.6445a1.07452,1.07452,0,0,0-1.51926,0L6.11588,53.1657a1.07425,1.07425,0,1,0,1.51925,1.5192l1.75462-1.7546A1.07442,1.07442,0,0,0,9.38975,51.411ZM3.89323,45.6284a1.07446,1.07446,0,0,0-1.51936,0L.31461,47.6879a1.07425,1.07425,0,1,0,1.51915,1.5193l2.05947-2.0594A1.07454,1.07454,0,0,0,3.89323,45.6284Z")
              a(href="#").infographics-item__title.infographics-item__title--large  SEO
              .infographics-item__popup
                .infographics-item__popup-inner
                  .infographics-item__description Продвинем ваш сайт в ТОП выдачи Яндекс и Google. Привлечем на ваш сайт большее количество целевых визитов за меньшие деньги. Многократно увеличим ваши продажи за разумный рекламный бюджет
                  .infographics-item__price от 84 900 руб./мес.


      h1
        .flex.flex--gap-lg
          span Тип #3
          span.tag.tag--primary 2 часа
            span.tooltip.tooltip--sm.tooltip--primary-contour(data-tippy-content="")
      .splide.carousel.carousel--shadow.splide-nav(data-splide='{"autoWidth": false, "arrows": false, "breakpoints": { "992": { "destroy": true }} }')
        ul.splide__pagination.splide__pagination--default
        .splide__track
          .splide__list.d-grid
            each item in [1, 1, 1, 1]
              .d-grid__item.splide__slide
                .infographics-item.infographics-item--type3.infographics-item--tile
                  .infographics-item__icon.infographics-item__icon--shadow-left
                    svg(xmlns="http://www.w3.org/2000/svg" width="54.99845" height="55" viewBox="0 0 54.99845 55")
                      path(d="M53.9548,1.8254l-.0002-.00128a1.07445,1.07445,0,0,0-.7792-.781A34.32676,34.32676,0,0,0,22.0566,8.58573l-.939-.29218A15.65026,15.65026,0,0,0,5.36,12.1812L.31559,17.2256a1.07454,1.07454,0,0,0,0,1.5194L6.8181,25.2476l1.238,1.238L4.79075,29.751a1.07454,1.07454,0,0,0,0,1.5194L7.71142,34.191l-3.5246,9.0102a1.07426,1.07426,0,0,0,1.33106,1.4135l1.81756-.5878L5.02417,48.558a1.0743,1.0743,0,0,0,1.44675,1.4443l4.51838-2.314-.586,1.812a1.07417,1.07417,0,0,0,1.4133,1.331l9.0102-3.5246,2.9143,2.9144a1.07433,1.07433,0,0,0,1.5192,0l3.2654-3.2654,1.2271,1.227,6.5025,6.5027a1.07433,1.07433,0,0,0,1.5192,0l5.0443-5.0443a15.65021,15.65021,0,0,0,3.8877-15.7575l-.2921-.9393A34.32923,34.32923,0,0,0,53.9548,1.8254ZM7.57768,22.9685,2.59442,17.9853l4.2847-4.2847a13.50729,13.50729,0,0,1,13.38648-3.42ZM13.1452,48.0043l.6873-2.1253a1.07422,1.07422,0,0,0-1.5119-1.2867L8.447,46.5761l1.97947-3.8804a1.0743,1.0743,0,0,0-1.28757-1.5104l-2.12521.6874,2.35617-6.0234L19.1686,45.648Zm11.3558-.0624L21.8611,45.302l-.0048-.0048L9.72148,33.1625l-.006-.006L7.06958,30.5106l2.50581-2.5057L27.0067,45.4361Zm16.7989.1795-4.2847,4.2847L32.032,47.4227,44.7199,34.7348A13.50691,13.50691,0,0,1,41.2999,48.1214Zm2.1293-15.1345L30.5126,45.9035,9.097,24.4879l2.11986-2.1198,4.8938,4.8937a1.07424,1.07424,0,0,0,1.5191-1.5193L12.736,20.8487l9.2763-9.2762A32.34129,32.34129,0,0,1,52.0224,2.97481,32.339,32.339,0,0,1,43.4292,32.9869ZM20.5163,28.6285a1.07517,1.07517,0,1,0,.3147.7606A1.08135,1.08135,0,0,0,20.5163,28.6285ZM44.3534,16.4551a1.07429,1.07429,0,0,0-1.9375.9287,10.21434,10.21434,0,1,1-4.785-4.7923,1.07433,1.07433,0,0,0,.9316-1.9362,12.36271,12.36271,0,1,0,5.7909,5.7998ZM41.966,13.0797l-.0197-.0198a1.07432,1.07432,0,1,0-1.5253,1.5133l.0197.0197a1.07428,1.07428,0,1,0,1.5253-1.5132ZM31.6529,15.3113H27.7886a1.07418,1.07418,0,0,0-1.0742,1.0743V20.25a1.07425,1.07425,0,0,0,2.1485,0V17.4599h2.79a1.0743,1.0743,0,0,0,0-2.1486Zm6.9623,6.962a1.07415,1.07415,0,0,0-1.0742,1.0742v2.7902h-2.79a1.07425,1.07425,0,0,0,0,2.1485h3.8643a1.07418,1.07418,0,0,0,1.0742-1.0743V23.3474A1.07428,1.07428,0,0,0,38.6152,22.2733Zm-.6885-1.7016a1.074,1.074,0,0,0-1.3098-.7697l-7.3705,1.9142a1.0742,1.0742,0,1,0,.5401,2.0794l7.3706-1.9141A1.07417,1.07417,0,0,0,37.9267,20.5717ZM4.2329,50.7665a1.07429,1.07429,0,0,0-1.51915-.0001L.31461,53.1657a1.07429,1.07429,0,1,0,1.51915,1.5194L4.2329,52.2859A1.07434,1.07434,0,0,0,4.2329,50.7665Zm5.15685.6445a1.07452,1.07452,0,0,0-1.51926,0L6.11588,53.1657a1.07425,1.07425,0,1,0,1.51925,1.5192l1.75462-1.7546A1.07442,1.07442,0,0,0,9.38975,51.411ZM3.89323,45.6284a1.07446,1.07446,0,0,0-1.51936,0L.31461,47.6879a1.07425,1.07425,0,1,0,1.51915,1.5193l2.05947-2.0594A1.07454,1.07454,0,0,0,3.89323,45.6284Z")
                  .infographics-item__title Антивирусная защита сайта
                  .infographics-item__description Продвинем ваш сайт в ТОП выдачи Яндекс и Google. Привлечем на ваш сайт большее количество целевых визитов за меньшие деньги. Многократно увеличим ваши продажи за разумный рекламный бюджет
                  .infographics-item__tag
                    span.tag.tag--primary 2 часа
                      span.tooltip.tooltip--sm.tooltip--primary-contour(data-tippy-content="")

      h1 Тип #4
      .splide.carousel.carousel--shadow.splide-nav(data-splide='{"autoWidth": false, "arrows": false, "breakpoints": { "992": { "destroy": true }} }')
        ul.splide__pagination.splide__pagination--default
        .splide__track
          .splide__list.d-grid.d-grid--md-2
            each item in [1, 1, 1, 1]
              .d-grid__item.splide__slide
                .infographics-item.infographics-item--type4.infographics-item--tile
                  .infographics-item__icon.infographics-item__icon--shadow-left
                    svg(xmlns="http://www.w3.org/2000/svg" width="54.99845" height="55" viewBox="0 0 54.99845 55")
                      path(d="M53.9548,1.8254l-.0002-.00128a1.07445,1.07445,0,0,0-.7792-.781A34.32676,34.32676,0,0,0,22.0566,8.58573l-.939-.29218A15.65026,15.65026,0,0,0,5.36,12.1812L.31559,17.2256a1.07454,1.07454,0,0,0,0,1.5194L6.8181,25.2476l1.238,1.238L4.79075,29.751a1.07454,1.07454,0,0,0,0,1.5194L7.71142,34.191l-3.5246,9.0102a1.07426,1.07426,0,0,0,1.33106,1.4135l1.81756-.5878L5.02417,48.558a1.0743,1.0743,0,0,0,1.44675,1.4443l4.51838-2.314-.586,1.812a1.07417,1.07417,0,0,0,1.4133,1.331l9.0102-3.5246,2.9143,2.9144a1.07433,1.07433,0,0,0,1.5192,0l3.2654-3.2654,1.2271,1.227,6.5025,6.5027a1.07433,1.07433,0,0,0,1.5192,0l5.0443-5.0443a15.65021,15.65021,0,0,0,3.8877-15.7575l-.2921-.9393A34.32923,34.32923,0,0,0,53.9548,1.8254ZM7.57768,22.9685,2.59442,17.9853l4.2847-4.2847a13.50729,13.50729,0,0,1,13.38648-3.42ZM13.1452,48.0043l.6873-2.1253a1.07422,1.07422,0,0,0-1.5119-1.2867L8.447,46.5761l1.97947-3.8804a1.0743,1.0743,0,0,0-1.28757-1.5104l-2.12521.6874,2.35617-6.0234L19.1686,45.648Zm11.3558-.0624L21.8611,45.302l-.0048-.0048L9.72148,33.1625l-.006-.006L7.06958,30.5106l2.50581-2.5057L27.0067,45.4361Zm16.7989.1795-4.2847,4.2847L32.032,47.4227,44.7199,34.7348A13.50691,13.50691,0,0,1,41.2999,48.1214Zm2.1293-15.1345L30.5126,45.9035,9.097,24.4879l2.11986-2.1198,4.8938,4.8937a1.07424,1.07424,0,0,0,1.5191-1.5193L12.736,20.8487l9.2763-9.2762A32.34129,32.34129,0,0,1,52.0224,2.97481,32.339,32.339,0,0,1,43.4292,32.9869ZM20.5163,28.6285a1.07517,1.07517,0,1,0,.3147.7606A1.08135,1.08135,0,0,0,20.5163,28.6285ZM44.3534,16.4551a1.07429,1.07429,0,0,0-1.9375.9287,10.21434,10.21434,0,1,1-4.785-4.7923,1.07433,1.07433,0,0,0,.9316-1.9362,12.36271,12.36271,0,1,0,5.7909,5.7998ZM41.966,13.0797l-.0197-.0198a1.07432,1.07432,0,1,0-1.5253,1.5133l.0197.0197a1.07428,1.07428,0,1,0,1.5253-1.5132ZM31.6529,15.3113H27.7886a1.07418,1.07418,0,0,0-1.0742,1.0743V20.25a1.07425,1.07425,0,0,0,2.1485,0V17.4599h2.79a1.0743,1.0743,0,0,0,0-2.1486Zm6.9623,6.962a1.07415,1.07415,0,0,0-1.0742,1.0742v2.7902h-2.79a1.07425,1.07425,0,0,0,0,2.1485h3.8643a1.07418,1.07418,0,0,0,1.0742-1.0743V23.3474A1.07428,1.07428,0,0,0,38.6152,22.2733Zm-.6885-1.7016a1.074,1.074,0,0,0-1.3098-.7697l-7.3705,1.9142a1.0742,1.0742,0,1,0,.5401,2.0794l7.3706-1.9141A1.07417,1.07417,0,0,0,37.9267,20.5717ZM4.2329,50.7665a1.07429,1.07429,0,0,0-1.51915-.0001L.31461,53.1657a1.07429,1.07429,0,1,0,1.51915,1.5194L4.2329,52.2859A1.07434,1.07434,0,0,0,4.2329,50.7665Zm5.15685.6445a1.07452,1.07452,0,0,0-1.51926,0L6.11588,53.1657a1.07425,1.07425,0,1,0,1.51925,1.5192l1.75462-1.7546A1.07442,1.07442,0,0,0,9.38975,51.411ZM3.89323,45.6284a1.07446,1.07446,0,0,0-1.51936,0L.31461,47.6879a1.07425,1.07425,0,1,0,1.51915,1.5193l2.05947-2.0594A1.07454,1.07454,0,0,0,3.89323,45.6284Z")
                  .infographics-item__title Антивирусная защита сайта
                  .infographics-item__description Продвинем ваш сайт в ТОП выдачи Яндекс и Google. Привлечем на ваш сайт большее количество целевых визитов за меньшие деньги. Многократно увеличим ваши продажи за разумный рекламный бюджет






  .wide-block.wide-block--gray-lighter
    .page-container
      .h1 Слайдер с этапами
      .splide.carousel.carousel--shadow.splide-nav(data-splide='{"autoWidth": true, "arrows": false, "perPage": 2, "breakpoints": { "1350": { "arrows": true }} }')
        .carousel__stages.flex.flex--gap-md.flex--wrap
        ul.splide__pagination.splide__pagination--default
        .splide__track
          .splide__list
              each item, i in serviceList
                .splide__slide.infographics-item.infographics-item--type4.infographics-item--tile.infographics-item--border-top-hover
                  .infographics-item__icon.infographics-item__icon--shadow-left !{item.icon}
                  .infographics-item__title
                    a.infographics-item__link(href="#") !{item.title}
                  .infographics-item__description !{item.description}
        .splide__arrows.splide__arrows--default


  .wide-block.wide-block--gray-lighter
    .page-container
      .h1 Слайдер с фильтром
      .splide.carousel.carousel--shadow.splide-nav(data-splide='{"arrows": false, "perPage": 4, "breakpoints": { "1350": { "arrows": true }}, "filter": true }')
        .carousel__filter.flex.flex--gap-md.flex--wrap
        ul.splide__pagination.splide__pagination--default
        .splide__track
          .splide__list
            each item, i in serviceList
              .splide__slide.infographics-item.infographics-item--type4.infographics-item--tile.infographics-item--border-top-hover(data-splide-category="Отзывы")
                .infographics-item__icon.infographics-item__icon--shadow-left !{item.icon}
                .infographics-item__title Отзывы
                  a.infographics-item__link(href="#") !{item.title}
                .infographics-item__description !{item.description}

            each item, i in serviceList
              .infographic-test.splide__slide.infographics-item.infographics-item--type4.infographics-item--tile.infographics-item--border-top-hover(data-splide-category="Меню")
                .infographics-item__icon.infographics-item__icon--shadow-left !{item.icon}
                .infographics-item__title Меню
                  a.infographics-item__link(href="#") !{item.title}
                .infographics-item__description !{item.description}
        .splide__arrows.splide__arrows--default



  .wide-block.wide-block--gray-lighter
    .page-container
      .h1 Инфографика тип #1
      include ../../blocks/infographics/type1
  .wide-block.wide-block--gray-circle
    .page-container
      .h1 Инфографика тип #2
      include ../../blocks/infographics/type2
  .wide-block.wide-block--gray-lighter
    .page-container
      .h1 Инфографика тип #3
      include ../../blocks/infographics/type3
  .wide-block
    .page-container
      .h1 Инфографика тип #4
      include ../../blocks/infographics/type4
  .wide-block.wide-block--gray-lighter
    .page-container
      .h1 Инфографика тип #4 - 2
      include ../../blocks/infographics/type4-1
  .wide-block
    .page-container
      .h1 Инфографика тип #5
      include ../../blocks/infographics/type5
  .wide-block.wide-block--gray-lighter
    .page-container
      .h1 Инфографика тип #6
      include ../../blocks/infographics/type6
  .wide-block
    .page-container
      .h1 Этапы работ
      include ../../blocks/work-stages/index