extends ../layout.pug

block meta
  title Инфографика
  meta(name='description', content='')

block breadcrumb
block content
  .wide-block.wide-block--gray-lighter
    .page-container
      h1 Тип #1
      .splide.carousel.carousel--shadow.splide-nav(data-splide='{"autoWidth": false, "arrows": false, "breakpoints": { "992": { "destroy": true }} }')
        ul.splide__pagination.splide__pagination--default
        .splide__track
          .splide__list.d-grid.d-grid--md-6.d-grid--gap-lg
            each item in [1, 1, 1, 1, 1, 1]
              .d-grid__item.splide__slide
                .infographics-item.infographics-item--type1
                  .infographics-item__icon.infographics-item__icon--lg.infographics-item__icon--shadow-left
                    svg(xmlns="http://www.w3.org/2000/svg" width="54.99845" height="55" viewBox="0 0 54.99845 55")
                      path(d="M53.9548,1.8254l-.0002-.00128a1.07445,1.07445,0,0,0-.7792-.781A34.32676,34.32676,0,0,0,22.0566,8.58573l-.939-.29218A15.65026,15.65026,0,0,0,5.36,12.1812L.31559,17.2256a1.07454,1.07454,0,0,0,0,1.5194L6.8181,25.2476l1.238,1.238L4.79075,29.751a1.07454,1.07454,0,0,0,0,1.5194L7.71142,34.191l-3.5246,9.0102a1.07426,1.07426,0,0,0,1.33106,1.4135l1.81756-.5878L5.02417,48.558a1.0743,1.0743,0,0,0,1.44675,1.4443l4.51838-2.314-.586,1.812a1.07417,1.07417,0,0,0,1.4133,1.331l9.0102-3.5246,2.9143,2.9144a1.07433,1.07433,0,0,0,1.5192,0l3.2654-3.2654,1.2271,1.227,6.5025,6.5027a1.07433,1.07433,0,0,0,1.5192,0l5.0443-5.0443a15.65021,15.65021,0,0,0,3.8877-15.7575l-.2921-.9393A34.32923,34.32923,0,0,0,53.9548,1.8254ZM7.57768,22.9685,2.59442,17.9853l4.2847-4.2847a13.50729,13.50729,0,0,1,13.38648-3.42ZM13.1452,48.0043l.6873-2.1253a1.07422,1.07422,0,0,0-1.5119-1.2867L8.447,46.5761l1.97947-3.8804a1.0743,1.0743,0,0,0-1.28757-1.5104l-2.12521.6874,2.35617-6.0234L19.1686,45.648Zm11.3558-.0624L21.8611,45.302l-.0048-.0048L9.72148,33.1625l-.006-.006L7.06958,30.5106l2.50581-2.5057L27.0067,45.4361Zm16.7989.1795-4.2847,4.2847L32.032,47.4227,44.7199,34.7348A13.50691,13.50691,0,0,1,41.2999,48.1214Zm2.1293-15.1345L30.5126,45.9035,9.097,24.4879l2.11986-2.1198,4.8938,4.8937a1.07424,1.07424,0,0,0,1.5191-1.5193L12.736,20.8487l9.2763-9.2762A32.34129,32.34129,0,0,1,52.0224,2.97481,32.339,32.339,0,0,1,43.4292,32.9869ZM20.5163,28.6285a1.07517,1.07517,0,1,0,.3147.7606A1.08135,1.08135,0,0,0,20.5163,28.6285ZM44.3534,16.4551a1.07429,1.07429,0,0,0-1.9375.9287,10.21434,10.21434,0,1,1-4.785-4.7923,1.07433,1.07433,0,0,0,.9316-1.9362,12.36271,12.36271,0,1,0,5.7909,5.7998ZM41.966,13.0797l-.0197-.0198a1.07432,1.07432,0,1,0-1.5253,1.5133l.0197.0197a1.07428,1.07428,0,1,0,1.5253-1.5132ZM31.6529,15.3113H27.7886a1.07418,1.07418,0,0,0-1.0742,1.0743V20.25a1.07425,1.07425,0,0,0,2.1485,0V17.4599h2.79a1.0743,1.0743,0,0,0,0-2.1486Zm6.9623,6.962a1.07415,1.07415,0,0,0-1.0742,1.0742v2.7902h-2.79a1.07425,1.07425,0,0,0,0,2.1485h3.8643a1.07418,1.07418,0,0,0,1.0742-1.0743V23.3474A1.07428,1.07428,0,0,0,38.6152,22.2733Zm-.6885-1.7016a1.074,1.074,0,0,0-1.3098-.7697l-7.3705,1.9142a1.0742,1.0742,0,1,0,.5401,2.0794l7.3706-1.9141A1.07417,1.07417,0,0,0,37.9267,20.5717ZM4.2329,50.7665a1.07429,1.07429,0,0,0-1.51915-.0001L.31461,53.1657a1.07429,1.07429,0,1,0,1.51915,1.5194L4.2329,52.2859A1.07434,1.07434,0,0,0,4.2329,50.7665Zm5.15685.6445a1.07452,1.07452,0,0,0-1.51926,0L6.11588,53.1657a1.07425,1.07425,0,1,0,1.51925,1.5192l1.75462-1.7546A1.07442,1.07442,0,0,0,9.38975,51.411ZM3.89323,45.6284a1.07446,1.07446,0,0,0-1.51936,0L.31461,47.6879a1.07425,1.07425,0,1,0,1.51915,1.5193l2.05947-2.0594A1.07454,1.07454,0,0,0,3.89323,45.6284Z")
                  .infographics-item__description Высокая узнаваемость маркетплейса в России

      .h1 Тип #2 без заголовка
      .d-grid.d-grid--md-5.infographics-list.infographics-list--stages
        each item in [1,1,1,1,1]
          .d-grid__item
            .infographics-item.infographics-item--type2.infographics-item--tile.infographics-item--border-top-primary
              .infographics-item__icon.infographics-item__icon--shadow-left
                svg(xmlns="http://www.w3.org/2000/svg" width="54.99845" height="55" viewBox="0 0 54.99845 55")
                  path(d="M53.9548,1.8254l-.0002-.00128a1.07445,1.07445,0,0,0-.7792-.781A34.32676,34.32676,0,0,0,22.0566,8.58573l-.939-.29218A15.65026,15.65026,0,0,0,5.36,12.1812L.31559,17.2256a1.07454,1.07454,0,0,0,0,1.5194L6.8181,25.2476l1.238,1.238L4.79075,29.751a1.07454,1.07454,0,0,0,0,1.5194L7.71142,34.191l-3.5246,9.0102a1.07426,1.07426,0,0,0,1.33106,1.4135l1.81756-.5878L5.02417,48.558a1.0743,1.0743,0,0,0,1.44675,1.4443l4.51838-2.314-.586,1.812a1.07417,1.07417,0,0,0,1.4133,1.331l9.0102-3.5246,2.9143,2.9144a1.07433,1.07433,0,0,0,1.5192,0l3.2654-3.2654,1.2271,1.227,6.5025,6.5027a1.07433,1.07433,0,0,0,1.5192,0l5.0443-5.0443a15.65021,15.65021,0,0,0,3.8877-15.7575l-.2921-.9393A34.32923,34.32923,0,0,0,53.9548,1.8254ZM7.57768,22.9685,2.59442,17.9853l4.2847-4.2847a13.50729,13.50729,0,0,1,13.38648-3.42ZM13.1452,48.0043l.6873-2.1253a1.07422,1.07422,0,0,0-1.5119-1.2867L8.447,46.5761l1.97947-3.8804a1.0743,1.0743,0,0,0-1.28757-1.5104l-2.12521.6874,2.35617-6.0234L19.1686,45.648Zm11.3558-.0624L21.8611,45.302l-.0048-.0048L9.72148,33.1625l-.006-.006L7.06958,30.5106l2.50581-2.5057L27.0067,45.4361Zm16.7989.1795-4.2847,4.2847L32.032,47.4227,44.7199,34.7348A13.50691,13.50691,0,0,1,41.2999,48.1214Zm2.1293-15.1345L30.5126,45.9035,9.097,24.4879l2.11986-2.1198,4.8938,4.8937a1.07424,1.07424,0,0,0,1.5191-1.5193L12.736,20.8487l9.2763-9.2762A32.34129,32.34129,0,0,1,52.0224,2.97481,32.339,32.339,0,0,1,43.4292,32.9869ZM20.5163,28.6285a1.07517,1.07517,0,1,0,.3147.7606A1.08135,1.08135,0,0,0,20.5163,28.6285ZM44.3534,16.4551a1.07429,1.07429,0,0,0-1.9375.9287,10.21434,10.21434,0,1,1-4.785-4.7923,1.07433,1.07433,0,0,0,.9316-1.9362,12.36271,12.36271,0,1,0,5.7909,5.7998ZM41.966,13.0797l-.0197-.0198a1.07432,1.07432,0,1,0-1.5253,1.5133l.0197.0197a1.07428,1.07428,0,1,0,1.5253-1.5132ZM31.6529,15.3113H27.7886a1.07418,1.07418,0,0,0-1.0742,1.0743V20.25a1.07425,1.07425,0,0,0,2.1485,0V17.4599h2.79a1.0743,1.0743,0,0,0,0-2.1486Zm6.9623,6.962a1.07415,1.07415,0,0,0-1.0742,1.0742v2.7902h-2.79a1.07425,1.07425,0,0,0,0,2.1485h3.8643a1.07418,1.07418,0,0,0,1.0742-1.0743V23.3474A1.07428,1.07428,0,0,0,38.6152,22.2733Zm-.6885-1.7016a1.074,1.074,0,0,0-1.3098-.7697l-7.3705,1.9142a1.0742,1.0742,0,1,0,.5401,2.0794l7.3706-1.9141A1.07417,1.07417,0,0,0,37.9267,20.5717ZM4.2329,50.7665a1.07429,1.07429,0,0,0-1.51915-.0001L.31461,53.1657a1.07429,1.07429,0,1,0,1.51915,1.5194L4.2329,52.2859A1.07434,1.07434,0,0,0,4.2329,50.7665Zm5.15685.6445a1.07452,1.07452,0,0,0-1.51926,0L6.11588,53.1657a1.07425,1.07425,0,1,0,1.51925,1.5192l1.75462-1.7546A1.07442,1.07442,0,0,0,9.38975,51.411ZM3.89323,45.6284a1.07446,1.07446,0,0,0-1.51936,0L.31461,47.6879a1.07425,1.07425,0,1,0,1.51915,1.5193l2.05947-2.0594A1.07454,1.07454,0,0,0,3.89323,45.6284Z")
              .infographics-item__title Провести аудит юзабилити вашего сайта

      .h1 Тип #2
      .d-grid.d-grid--md-4
        each item in [1,1,1,1]
          .d-grid__item
            .infographics-item.infographics-item--type2.infographics-item--tile.infographics-item--border-top-hover
              .infographics-item__icon.infographics-item__icon--shadow-left
                svg(xmlns="http://www.w3.org/2000/svg" width="54.99845" height="55" viewBox="0 0 54.99845 55")
                  path(d="M53.9548,1.8254l-.0002-.00128a1.07445,1.07445,0,0,0-.7792-.781A34.32676,34.32676,0,0,0,22.0566,8.58573l-.939-.29218A15.65026,15.65026,0,0,0,5.36,12.1812L.31559,17.2256a1.07454,1.07454,0,0,0,0,1.5194L6.8181,25.2476l1.238,1.238L4.79075,29.751a1.07454,1.07454,0,0,0,0,1.5194L7.71142,34.191l-3.5246,9.0102a1.07426,1.07426,0,0,0,1.33106,1.4135l1.81756-.5878L5.02417,48.558a1.0743,1.0743,0,0,0,1.44675,1.4443l4.51838-2.314-.586,1.812a1.07417,1.07417,0,0,0,1.4133,1.331l9.0102-3.5246,2.9143,2.9144a1.07433,1.07433,0,0,0,1.5192,0l3.2654-3.2654,1.2271,1.227,6.5025,6.5027a1.07433,1.07433,0,0,0,1.5192,0l5.0443-5.0443a15.65021,15.65021,0,0,0,3.8877-15.7575l-.2921-.9393A34.32923,34.32923,0,0,0,53.9548,1.8254ZM7.57768,22.9685,2.59442,17.9853l4.2847-4.2847a13.50729,13.50729,0,0,1,13.38648-3.42ZM13.1452,48.0043l.6873-2.1253a1.07422,1.07422,0,0,0-1.5119-1.2867L8.447,46.5761l1.97947-3.8804a1.0743,1.0743,0,0,0-1.28757-1.5104l-2.12521.6874,2.35617-6.0234L19.1686,45.648Zm11.3558-.0624L21.8611,45.302l-.0048-.0048L9.72148,33.1625l-.006-.006L7.06958,30.5106l2.50581-2.5057L27.0067,45.4361Zm16.7989.1795-4.2847,4.2847L32.032,47.4227,44.7199,34.7348A13.50691,13.50691,0,0,1,41.2999,48.1214Zm2.1293-15.1345L30.5126,45.9035,9.097,24.4879l2.11986-2.1198,4.8938,4.8937a1.07424,1.07424,0,0,0,1.5191-1.5193L12.736,20.8487l9.2763-9.2762A32.34129,32.34129,0,0,1,52.0224,2.97481,32.339,32.339,0,0,1,43.4292,32.9869ZM20.5163,28.6285a1.07517,1.07517,0,1,0,.3147.7606A1.08135,1.08135,0,0,0,20.5163,28.6285ZM44.3534,16.4551a1.07429,1.07429,0,0,0-1.9375.9287,10.21434,10.21434,0,1,1-4.785-4.7923,1.07433,1.07433,0,0,0,.9316-1.9362,12.36271,12.36271,0,1,0,5.7909,5.7998ZM41.966,13.0797l-.0197-.0198a1.07432,1.07432,0,1,0-1.5253,1.5133l.0197.0197a1.07428,1.07428,0,1,0,1.5253-1.5132ZM31.6529,15.3113H27.7886a1.07418,1.07418,0,0,0-1.0742,1.0743V20.25a1.07425,1.07425,0,0,0,2.1485,0V17.4599h2.79a1.0743,1.0743,0,0,0,0-2.1486Zm6.9623,6.962a1.07415,1.07415,0,0,0-1.0742,1.0742v2.7902h-2.79a1.07425,1.07425,0,0,0,0,2.1485h3.8643a1.07418,1.07418,0,0,0,1.0742-1.0743V23.3474A1.07428,1.07428,0,0,0,38.6152,22.2733Zm-.6885-1.7016a1.074,1.074,0,0,0-1.3098-.7697l-7.3705,1.9142a1.0742,1.0742,0,1,0,.5401,2.0794l7.3706-1.9141A1.07417,1.07417,0,0,0,37.9267,20.5717ZM4.2329,50.7665a1.07429,1.07429,0,0,0-1.51915-.0001L.31461,53.1657a1.07429,1.07429,0,1,0,1.51915,1.5194L4.2329,52.2859A1.07434,1.07434,0,0,0,4.2329,50.7665Zm5.15685.6445a1.07452,1.07452,0,0,0-1.51926,0L6.11588,53.1657a1.07425,1.07425,0,1,0,1.51925,1.5192l1.75462-1.7546A1.07442,1.07442,0,0,0,9.38975,51.411ZM3.89323,45.6284a1.07446,1.07446,0,0,0-1.51936,0L.31461,47.6879a1.07425,1.07425,0,1,0,1.51915,1.5193l2.05947-2.0594A1.07454,1.07454,0,0,0,3.89323,45.6284Z")
              a(href="#").infographics-item__title.infographics-item__title--large  SEO
              .infographics-item__popup
                .infographics-item__popup-inner
                  .infographics-item__description Продвинем ваш сайт в ТОП выдачи Яндекс и Google. Привлечем на ваш сайт большее количество целевых визитов за меньшие деньги. Многократно увеличим ваши продажи за разумный рекламный бюджет
                  .infographics-item__price от 84 900 руб./мес.


      h1
        .flex.flex--gap-lg
          span Тип #3
          span.tag.tag--primary 2 часа
            span.tooltip.tooltip--sm.tooltip--primary-contour(data-tippy-content="")
      .splide.carousel.carousel--shadow.splide-nav(data-splide='{"autoWidth": false, "arrows": false, "breakpoints": { "992": { "destroy": true }} }')
        ul.splide__pagination.splide__pagination--default
        .splide__track
          .splide__list.d-grid
            each item in [1, 1, 1, 1]
              .d-grid__item.splide__slide
                .infographics-item.infographics-item--type3.infographics-item--tile
                  .infographics-item__icon.infographics-item__icon--shadow-left
                    svg(xmlns="http://www.w3.org/2000/svg" width="54.99845" height="55" viewBox="0 0 54.99845 55")
                      path(d="M53.9548,1.8254l-.0002-.00128a1.07445,1.07445,0,0,0-.7792-.781A34.32676,34.32676,0,0,0,22.0566,8.58573l-.939-.29218A15.65026,15.65026,0,0,0,5.36,12.1812L.31559,17.2256a1.07454,1.07454,0,0,0,0,1.5194L6.8181,25.2476l1.238,1.238L4.79075,29.751a1.07454,1.07454,0,0,0,0,1.5194L7.71142,34.191l-3.5246,9.0102a1.07426,1.07426,0,0,0,1.33106,1.4135l1.81756-.5878L5.02417,48.558a1.0743,1.0743,0,0,0,1.44675,1.4443l4.51838-2.314-.586,1.812a1.07417,1.07417,0,0,0,1.4133,1.331l9.0102-3.5246,2.9143,2.9144a1.07433,1.07433,0,0,0,1.5192,0l3.2654-3.2654,1.2271,1.227,6.5025,6.5027a1.07433,1.07433,0,0,0,1.5192,0l5.0443-5.0443a15.65021,15.65021,0,0,0,3.8877-15.7575l-.2921-.9393A34.32923,34.32923,0,0,0,53.9548,1.8254ZM7.57768,22.9685,2.59442,17.9853l4.2847-4.2847a13.50729,13.50729,0,0,1,13.38648-3.42ZM13.1452,48.0043l.6873-2.1253a1.07422,1.07422,0,0,0-1.5119-1.2867L8.447,46.5761l1.97947-3.8804a1.0743,1.0743,0,0,0-1.28757-1.5104l-2.12521.6874,2.35617-6.0234L19.1686,45.648Zm11.3558-.0624L21.8611,45.302l-.0048-.0048L9.72148,33.1625l-.006-.006L7.06958,30.5106l2.50581-2.5057L27.0067,45.4361Zm16.7989.1795-4.2847,4.2847L32.032,47.4227,44.7199,34.7348A13.50691,13.50691,0,0,1,41.2999,48.1214Zm2.1293-15.1345L30.5126,45.9035,9.097,24.4879l2.11986-2.1198,4.8938,4.8937a1.07424,1.07424,0,0,0,1.5191-1.5193L12.736,20.8487l9.2763-9.2762A32.34129,32.34129,0,0,1,52.0224,2.97481,32.339,32.339,0,0,1,43.4292,32.9869ZM20.5163,28.6285a1.07517,1.07517,0,1,0,.3147.7606A1.08135,1.08135,0,0,0,20.5163,28.6285ZM44.3534,16.4551a1.07429,1.07429,0,0,0-1.9375.9287,10.21434,10.21434,0,1,1-4.785-4.7923,1.07433,1.07433,0,0,0,.9316-1.9362,12.36271,12.36271,0,1,0,5.7909,5.7998ZM41.966,13.0797l-.0197-.0198a1.07432,1.07432,0,1,0-1.5253,1.5133l.0197.0197a1.07428,1.07428,0,1,0,1.5253-1.5132ZM31.6529,15.3113H27.7886a1.07418,1.07418,0,0,0-1.0742,1.0743V20.25a1.07425,1.07425,0,0,0,2.1485,0V17.4599h2.79a1.0743,1.0743,0,0,0,0-2.1486Zm6.9623,6.962a1.07415,1.07415,0,0,0-1.0742,1.0742v2.7902h-2.79a1.07425,1.07425,0,0,0,0,2.1485h3.8643a1.07418,1.07418,0,0,0,1.0742-1.0743V23.3474A1.07428,1.07428,0,0,0,38.6152,22.2733Zm-.6885-1.7016a1.074,1.074,0,0,0-1.3098-.7697l-7.3705,1.9142a1.0742,1.0742,0,1,0,.5401,2.0794l7.3706-1.9141A1.07417,1.07417,0,0,0,37.9267,20.5717ZM4.2329,50.7665a1.07429,1.07429,0,0,0-1.51915-.0001L.31461,53.1657a1.07429,1.07429,0,1,0,1.51915,1.5194L4.2329,52.2859A1.07434,1.07434,0,0,0,4.2329,50.7665Zm5.15685.6445a1.07452,1.07452,0,0,0-1.51926,0L6.11588,53.1657a1.07425,1.07425,0,1,0,1.51925,1.5192l1.75462-1.7546A1.07442,1.07442,0,0,0,9.38975,51.411ZM3.89323,45.6284a1.07446,1.07446,0,0,0-1.51936,0L.31461,47.6879a1.07425,1.07425,0,1,0,1.51915,1.5193l2.05947-2.0594A1.07454,1.07454,0,0,0,3.89323,45.6284Z")
                  .infographics-item__title Антивирусная защита сайта
                  .infographics-item__description Продвинем ваш сайт в ТОП выдачи Яндекс и Google. Привлечем на ваш сайт большее количество целевых визитов за меньшие деньги. Многократно увеличим ваши продажи за разумный рекламный бюджет
                  .infographics-item__tag
                    span.tag.tag--primary 2 часа
                      span.tooltip.tooltip--sm.tooltip--primary-contour(data-tippy-content="")

      h1 Тип #4
      .splide.carousel.carousel--shadow.splide-nav(data-splide='{"autoWidth": false, "arrows": false, "breakpoints": { "992": { "destroy": true }} }')
        ul.splide__pagination.splide__pagination--default
        .splide__track
          .splide__list.d-grid.d-grid--md-2
            each item in [1, 1, 1, 1]
              .d-grid__item.splide__slide
                .infographics-item.infographics-item--type4.infographics-item--tile
                  .infographics-item__icon.infographics-item__icon--shadow-left
                    svg(xmlns="http://www.w3.org/2000/svg" width="54.99845" height="55" viewBox="0 0 54.99845 55")
                      path(d="M53.9548,1.8254l-.0002-.00128a1.07445,1.07445,0,0,0-.7792-.781A34.32676,34.32676,0,0,0,22.0566,8.58573l-.939-.29218A15.65026,15.65026,0,0,0,5.36,12.1812L.31559,17.2256a1.07454,1.07454,0,0,0,0,1.5194L6.8181,25.2476l1.238,1.238L4.79075,29.751a1.07454,1.07454,0,0,0,0,1.5194L7.71142,34.191l-3.5246,9.0102a1.07426,1.07426,0,0,0,1.33106,1.4135l1.81756-.5878L5.02417,48.558a1.0743,1.0743,0,0,0,1.44675,1.4443l4.51838-2.314-.586,1.812a1.07417,1.07417,0,0,0,1.4133,1.331l9.0102-3.5246,2.9143,2.9144a1.07433,1.07433,0,0,0,1.5192,0l3.2654-3.2654,1.2271,1.227,6.5025,6.5027a1.07433,1.07433,0,0,0,1.5192,0l5.0443-5.0443a15.65021,15.65021,0,0,0,3.8877-15.7575l-.2921-.9393A34.32923,34.32923,0,0,0,53.9548,1.8254ZM7.57768,22.9685,2.59442,17.9853l4.2847-4.2847a13.50729,13.50729,0,0,1,13.38648-3.42ZM13.1452,48.0043l.6873-2.1253a1.07422,1.07422,0,0,0-1.5119-1.2867L8.447,46.5761l1.97947-3.8804a1.0743,1.0743,0,0,0-1.28757-1.5104l-2.12521.6874,2.35617-6.0234L19.1686,45.648Zm11.3558-.0624L21.8611,45.302l-.0048-.0048L9.72148,33.1625l-.006-.006L7.06958,30.5106l2.50581-2.5057L27.0067,45.4361Zm16.7989.1795-4.2847,4.2847L32.032,47.4227,44.7199,34.7348A13.50691,13.50691,0,0,1,41.2999,48.1214Zm2.1293-15.1345L30.5126,45.9035,9.097,24.4879l2.11986-2.1198,4.8938,4.8937a1.07424,1.07424,0,0,0,1.5191-1.5193L12.736,20.8487l9.2763-9.2762A32.34129,32.34129,0,0,1,52.0224,2.97481,32.339,32.339,0,0,1,43.4292,32.9869ZM20.5163,28.6285a1.07517,1.07517,0,1,0,.3147.7606A1.08135,1.08135,0,0,0,20.5163,28.6285ZM44.3534,16.4551a1.07429,1.07429,0,0,0-1.9375.9287,10.21434,10.21434,0,1,1-4.785-4.7923,1.07433,1.07433,0,0,0,.9316-1.9362,12.36271,12.36271,0,1,0,5.7909,5.7998ZM41.966,13.0797l-.0197-.0198a1.07432,1.07432,0,1,0-1.5253,1.5133l.0197.0197a1.07428,1.07428,0,1,0,1.5253-1.5132ZM31.6529,15.3113H27.7886a1.07418,1.07418,0,0,0-1.0742,1.0743V20.25a1.07425,1.07425,0,0,0,2.1485,0V17.4599h2.79a1.0743,1.0743,0,0,0,0-2.1486Zm6.9623,6.962a1.07415,1.07415,0,0,0-1.0742,1.0742v2.7902h-2.79a1.07425,1.07425,0,0,0,0,2.1485h3.8643a1.07418,1.07418,0,0,0,1.0742-1.0743V23.3474A1.07428,1.07428,0,0,0,38.6152,22.2733Zm-.6885-1.7016a1.074,1.074,0,0,0-1.3098-.7697l-7.3705,1.9142a1.0742,1.0742,0,1,0,.5401,2.0794l7.3706-1.9141A1.07417,1.07417,0,0,0,37.9267,20.5717ZM4.2329,50.7665a1.07429,1.07429,0,0,0-1.51915-.0001L.31461,53.1657a1.07429,1.07429,0,1,0,1.51915,1.5194L4.2329,52.2859A1.07434,1.07434,0,0,0,4.2329,50.7665Zm5.15685.6445a1.07452,1.07452,0,0,0-1.51926,0L6.11588,53.1657a1.07425,1.07425,0,1,0,1.51925,1.5192l1.75462-1.7546A1.07442,1.07442,0,0,0,9.38975,51.411ZM3.89323,45.6284a1.07446,1.07446,0,0,0-1.51936,0L.31461,47.6879a1.07425,1.07425,0,1,0,1.51915,1.5193l2.05947-2.0594A1.07454,1.07454,0,0,0,3.89323,45.6284Z")
                  .infographics-item__title Антивирусная защита сайта
                  .infographics-item__description Продвинем ваш сайт в ТОП выдачи Яндекс и Google. Привлечем на ваш сайт большее количество целевых визитов за меньшие деньги. Многократно увеличим ваши продажи за разумный рекламный бюджет

  .wide-block
    .page-container
      h1 Тип #4
      .splide.carousel.carousel--shadow.splide-nav(data-splide='{"autoWidth": false, "arrows": false, "breakpoints": { "992": { "destroy": true }} }')
        ul.splide__pagination.splide__pagination--default
        .splide__track
          .splide__list.d-grid.d-grid--md-2
            .d-grid__item.splide__slide
              .infographics-item.infographics-item--type4.infographics-item--tile.infographics-item--shadow-light.infographics-item--border-top-green
                .infographics-item__icon.infographics-item__icon--shadow-left.-c-green
                  svg(xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50")
                    path(d="M24.8258,6.35354a.98348.98348,0,0,0,.9835-.9835V.9835a.9835.9835,0,1,0-1.967,0V5.37A.98361.98361,0,0,0,24.8258,6.35354ZM48.866,33.7879l-1.7374-1.7326a3.29346,3.29346,0,0,0-3.897-.556l-3.274-3.2702.1595-.1592A3.41359,3.41359,0,0,0,40.117,23.25a3.37666,3.37666,0,0,0-1.7121-.9258,3.43312,3.43312,0,0,0,.1357-.9568,3.40582,3.40582,0,0,0-2.7093-3.3358,3.43253,3.43253,0,0,0,.1356-.9568,3.40252,3.40252,0,0,0-2.7089-3.3343,3.40352,3.40352,0,0,0-3.6377-4.34385l-6.4878-1.228a3.50469,3.50469,0,0,0-3.0051.39961,1.77664,1.77664,0,0,0-.1488.1541,3.42019,3.42019,0,0,0-3.5884.78906,3.38349,3.38349,0,0,0-.9964,2.411,3.43856,3.43856,0,0,0,.1354.957,3.40629,3.40629,0,0,0-2.7084,3.3321,3.42708,3.42708,0,0,0,.1357.9596,3.41028,3.41028,0,0,0-2.114,5.2627,3.40812,3.40812,0,0,0-1.30916,5.6381l.15889.1582L6.4178,31.4986a3.28826,3.28826,0,0,0-3.72043.6446L.95889,33.8768a3.28554,3.28554,0,0,0,0,4.6396l2.16964,2.167a.98346.98346,0,0,0,1.39-1.3916l-2.16963-2.167a1.31871,1.31871,0,0,1-.00059-1.8557l1.73858-1.7337A1.31686,1.31686,0,0,1,5.691,33.3387a.994.994,0,0,0,.12373.1514.9791.9791,0,0,0,.28262.1966l9.97,9.9554a.96938.96938,0,0,0,.4742.4791,1.31636,1.31636,0,0,1-.0546,1.7958l-1.7368,1.7348a1.32117,1.32117,0,0,1-1.8596.0015l-2.1697-2.1698a.98344.98344,0,1,0-1.39079,1.3908l2.17119,2.1714a3.293,3.293,0,0,0,4.6379-.001l1.7379-1.7359a3.2885,3.2885,0,0,0,.4605-4.0616l3.6851-3.6807.0119-.012c.4219-.4363,1.597-.3546,2.7335-.2757a14.15579,14.15579,0,0,0,2.5871.0172l4.0355,4.0308a3.2869,3.2869,0,0,0,.558,3.8935l1.738,1.7359a3.28844,3.28844,0,0,0,4.6388,0L48.8667,38.4278a3.285,3.285,0,0,0-.0007-4.6399ZM22.7663,10.1012l4.2663.8076L24.479,13.4614a6.199,6.199,0,0,1-1.5304-1.1121,4.52389,4.52389,0,0,1-1.4474-2.2358l-.0001-.0008-.0001-.0003a.85964.85964,0,0,1-.0043-.0969A3.33279,3.33279,0,0,1,22.7663,10.1012Zm-4.9862.8019a1.45065,1.45065,0,0,1,1.8353-.1739,7.0349,7.0349,0,0,0,1.9736,3.0413,7.28186,7.28186,0,0,0,2.8335,1.7556,1.44352,1.44352,0,0,1-2.2065,1.8434l-.0001-.0001-.0005-.0005-4.4353-4.4273a1.44822,1.44822,0,0,1,0-2.0385Zm-2.5699,4.2917a1.45062,1.45062,0,0,1,2.0437.0014l3.5715,3.5644a1.44542,1.44542,0,0,1-2.0459,2.0423l-.0001-.0001-2.7095-2.7089-.0131-.0124-.8477-.8472a1.44346,1.44346,0,0,1,.0011-2.0395Zm-2.5748,4.2909a1.455,1.455,0,0,1,2.037-.0069l2.7178,2.7165a1.44355,1.44355,0,0,1-2.0454,2.0375l-.9853-.984-.0007-.0007-1.7233-1.7213a1.44685,1.44685,0,0,1-.0001-2.0411Zm-1.7129,5.1549a1.45377,1.45377,0,0,1,2.0466-.0003l.9866.9854a1.44353,1.44353,0,0,1-2.0463,2.0366l-.1235-.123-.0045-.005-.0057-.0051-.8522-.8489A1.44428,1.44428,0,0,1,10.9225,24.6406ZM30.965,35.8181a.98358.98358,0,0,0-1.3909-.0008l-.875.8739c-.8314.8314-2.338.7267-3.7949.6257-1.5821-.11-3.2182-.2235-4.2769.8634l-3.6225,3.6182-9.059-9.0456,3.20587-3.2001a3.41072,3.41072,0,0,0,5.1916-2.9087l-.0006-.0254.0255.0006a3.4021,3.4021,0,0,0,3.4095-3.4055l-.0006-.0254.0259.0006a3.39814,3.39814,0,0,0,3.4095-3.4315l.0264.0006a3.41166,3.41166,0,0,0,2.911-5.1855l2.8099-2.8087a1.44284,1.44284,0,0,1,.7382-.3933c.0293-.0031.0582-.0078.0868-.0135a1.4412,1.4412,0,0,1,1.2242,2.4461l-.8558.8523-.0086.0082-.9857.9839a.98348.98348,0,0,0,1.3899,1.3918l.8592-.8581.0006-.0005.1299-.1294a1.44851,1.44851,0,0,1,2.041.0049,1.44334,1.44334,0,0,1-.0021,2.0386l-.8607.8624-.0003.0004-.9855.9816a.98345.98345,0,1,0,1.388,1.3936l.99-.986a1.44349,1.44349,0,0,1,2.0428,2.04l-1.7158,1.7165a.98344.98344,0,1,0,1.391,1.3906l.8409-.8412.0148-.0134a1.44345,1.44345,0,0,1,2.0432,2.0395l-.855.854-.0009.0009-.0009.001-1.357,1.3554a.98352.98352,0,0,0,1.39,1.3918l.6638-.663,3.1813,3.1776L32.689,41.8437l-3.2455-3.2416a3.874,3.874,0,0,0,.646-.5198l.8745-.8734A.98319.98319,0,0,0,30.965,35.8181Zm16.5116,1.218L36.9354,47.5645a1.32185,1.32185,0,0,1-1.8589-.0001l-1.738-1.7359a1.31517,1.31517,0,0,1,0-1.8533L43.8797,33.4468a1.32172,1.32172,0,0,1,1.8595.0006l1.7375,1.7325a1.31857,1.31857,0,0,1-.0001,1.8562ZM11.7656,5.524a.98351.98351,0,0,0,1.3895-1.39229L9.57127.555a.98347.98347,0,0,0-1.38946,1.3922Zm25.4249.28727a.98063.98063,0,0,0,.695-.2876l3.5811-3.57677a.98345.98345,0,1,0-1.39-1.39161L36.4955,4.132a.9834.9834,0,0,0,.695,1.67921ZM6.04728,42.3053a.98344.98344,0,0,0,.01191,1.3908l.00283.0027a.98349.98349,0,1,0-.01474-1.3935ZM33.3708,34.4008a.9837.9837,0,1,0-.4419-1.8621l-.0055.0027a.98291.98291,0,0,0,.4474,1.8594Z")
                .infographics-item__title #[span.-c-green Ценность] продуктового подхода
                .infographics-item__description.infographics-item__description--gray-lighter
                  p Продвинем ваш сайт в ТОП выдачи Яндекс и Google. Привлечем на ваш сайт большее количество целевых визитов за меньшие деньги. Многократно увеличим ваши продажи за разумный рекламный бюджет
                  ul.list.list--not-marker
                    li
                      +text-icon({
                        svgId: 'check-circle',
                        text: 'Гибкая SCRUM-методология на основе анализа и A/B-тестов, вместо статичного и шаблонного плана работ'
                      }, {
                        iconAttrs: {
                          class: '-c-green'
                        }
                      })
                    li
                      +text-icon({
                        svgId: 'check-circle',
                        text: 'Формирование гипотез и приоритизация с ориентиром на бизнес-цели проекта'
                      }, {
                        iconAttrs: {
                          class: '-c-green'
                        }
                      })
                    li
                      +text-icon({
                        svgId: 'check-circle',
                        text: 'Проверка гипотез по принципу MVP — масштабирование только эффективных'
                      }, {
                        iconAttrs: {
                          class: '-c-green'
                        }
                      })
                    li
                      +text-icon({
                        svgId: 'check-circle',
                        text: 'Фокус на достижении прогнозных результатов. Мышление системой KPI. Расчет ROI по каналу SEO и по отдельным работам'
                      }, {
                        iconAttrs: {
                          class: '-c-green'
                        }
                      })

            .d-grid__item.splide__slide
              .infographics-item.infographics-item--type4.infographics-item--tile.infographics-item--shadow-light.infographics-item--border-top-primary
                .infographics-item__icon.infographics-item__icon--shadow-left.-c-primary
                  svg(xmlns="http://www.w3.org/2000/svg" width="47" height="45" viewBox="0 0 47 45")
                    path(d="M21.7228,0a4.21126,4.21126,0,0,0-3.9625,3.07771,3.91938,3.91938,0,0,0-2.3166-.75213,4.37142,4.37142,0,0,0-4.186,4.53489V23.8132L7.19853,19.1085l-.01463-.0164a3.96849,3.96849,0,0,0-5.99571,0,4.81537,4.81537,0,0,0-.02638,6.304L6.2372,31.9108l2.96425,4.0297A15.72265,15.72265,0,0,0,19.6816,43.6843a1.04646,1.04646,0,0,0,.4043-2.0535,13.64051,13.64051,0,0,1-9.0985-6.7832,1.07137,1.07137,0,0,0-.0651-.1001L7.91493,30.6588,2.79161,24.0823q-.02283-.02925-.04768-.0569a2.72252,2.72252,0,0,1,0-3.533,1.87707,1.87707,0,0,1,2.87757-.0076l5.8904,6.8268a1.04651,1.04651,0,0,0,1.8388-.6838V6.86047a2.28691,2.28691,0,0,1,2.093-2.44187,2.28692,2.28692,0,0,1,2.0931,2.44187V20.8138a1.0465,1.0465,0,1,0,2.093,0V4.53489A2.28685,2.28685,0,0,1,21.7228,2.093a2.287,2.287,0,0,1,2.0931,2.44187V18.4883a1.0465,1.0465,0,0,0,2.093,0V6.86047a2.28678,2.28678,0,0,1,2.093-2.44187,2.28691,2.28691,0,0,1,2.093,2.44187V15.6977a1.04655,1.04655,0,0,0,2.0931,0V11.5116a2.28678,2.28678,0,0,1,2.093-2.44184,2.28692,2.28692,0,0,1,2.093,2.44184v6.2791a1.0465,1.0465,0,0,0,2.093,0V11.5116a4.37142,4.37142,0,0,0-4.186-4.53487,3.90908,3.90908,0,0,0-2.093.60143V6.86047a4.37151,4.37151,0,0,0-4.1861-4.53489,3.9184,3.9184,0,0,0-2.3165.75213A4.21138,4.21138,0,0,0,21.7228,0ZM35.5812,29.3022a1.04667,1.04667,0,0,1,1.0465,1.0466v4.186a1.0465,1.0465,0,0,1-2.093,0v-4.186A1.04667,1.04667,0,0,1,35.5812,29.3022Zm1.0465,9.4181a1.0465,1.0465,0,1,0-2.093,0v1.0466a1.0465,1.0465,0,0,0,2.093,0Zm1.7614-14.5141a3.13955,3.13955,0,0,0-5.6162,0L24.648,40.4563a3.13952,3.13952,0,0,0,2.808,4.5435H43.7062a3.13948,3.13948,0,0,0,2.808-4.5435Zm-3.744.936a1.04654,1.04654,0,0,1,1.872,0l8.1251,16.2501a1.04652,1.04652,0,0,1-.936,1.5145H27.456a1.04649,1.04649,0,0,1-.936-1.5145Z")
                .infographics-item__title В чем #[span.-c-primary проблема] стандартного подхода?
                .infographics-item__description.infographics-item__description--gray-lighter
                  p Продвинем ваш сайт в ТОП выдачи Яндекс и Google. Привлечем на ваш сайт большее количество целевых визитов за меньшие деньги. Многократно увеличим ваши продажи за разумный рекламный бюджет
                  ul.list.list--not-marker
                    li
                      +text-icon({
                        svgId: 'close-circle',
                        text: 'Гибкая SCRUM-методология на основе анализа и A/B-тестов, вместо статичного и шаблонного плана работ'
                      }, {
                        iconAttrs: {
                          class: '-c-primary'
                        }
                      })
                    li
                      +text-icon({
                        svgId: 'close-circle',
                        text: 'Формирование гипотез и приоритизация с ориентиром на бизнес-цели проекта'
                      }, {
                        iconAttrs: {
                          class: '-c-primary'
                        }
                      })
                    li
                      +text-icon({
                        svgId: 'close-circle',
                        text: 'Проверка гипотез по принципу MVP — масштабирование только эффективных'
                      }, {
                        iconAttrs: {
                          class: '-c-primary'
                        }
                      })
                    li
                      +text-icon({
                        svgId: 'close-circle',
                        text: 'Фокус на достижении прогнозных результатов. Мышление системой KPI. Расчет ROI по каналу SEO и по отдельным работам'
                      }, {
                        iconAttrs: {
                          class: '-c-primary'
                        }
                      })

  .wide-block.wide-block--gray-lighter
    .page-container
      h1 Тип #5
      .splide.carousel.carousel--shadow.splide-nav(data-splide='{"autoWidth": false, "arrows": false, "breakpoints": { "992": { "destroy": true }} }')
        ul.splide__pagination.splide__pagination--default
        .splide__track
          .splide__list.d-grid.d-grid--gap-xl.infographics-list.infographics-list--separate
            each item in [1, 1, 1, 1]
              .d-grid__item.splide__slide
                .infographics-item.infographics-item--type5
                  .infographics-item__icon
                    .infographics-item__icon-inner
                      svg(xmlns="http://www.w3.org/2000/svg" width="54.99845" height="55" viewBox="0 0 54.99845 55")
                        path(d="M53.9548,1.8254l-.0002-.00128a1.07445,1.07445,0,0,0-.7792-.781A34.32676,34.32676,0,0,0,22.0566,8.58573l-.939-.29218A15.65026,15.65026,0,0,0,5.36,12.1812L.31559,17.2256a1.07454,1.07454,0,0,0,0,1.5194L6.8181,25.2476l1.238,1.238L4.79075,29.751a1.07454,1.07454,0,0,0,0,1.5194L7.71142,34.191l-3.5246,9.0102a1.07426,1.07426,0,0,0,1.33106,1.4135l1.81756-.5878L5.02417,48.558a1.0743,1.0743,0,0,0,1.44675,1.4443l4.51838-2.314-.586,1.812a1.07417,1.07417,0,0,0,1.4133,1.331l9.0102-3.5246,2.9143,2.9144a1.07433,1.07433,0,0,0,1.5192,0l3.2654-3.2654,1.2271,1.227,6.5025,6.5027a1.07433,1.07433,0,0,0,1.5192,0l5.0443-5.0443a15.65021,15.65021,0,0,0,3.8877-15.7575l-.2921-.9393A34.32923,34.32923,0,0,0,53.9548,1.8254ZM7.57768,22.9685,2.59442,17.9853l4.2847-4.2847a13.50729,13.50729,0,0,1,13.38648-3.42ZM13.1452,48.0043l.6873-2.1253a1.07422,1.07422,0,0,0-1.5119-1.2867L8.447,46.5761l1.97947-3.8804a1.0743,1.0743,0,0,0-1.28757-1.5104l-2.12521.6874,2.35617-6.0234L19.1686,45.648Zm11.3558-.0624L21.8611,45.302l-.0048-.0048L9.72148,33.1625l-.006-.006L7.06958,30.5106l2.50581-2.5057L27.0067,45.4361Zm16.7989.1795-4.2847,4.2847L32.032,47.4227,44.7199,34.7348A13.50691,13.50691,0,0,1,41.2999,48.1214Zm2.1293-15.1345L30.5126,45.9035,9.097,24.4879l2.11986-2.1198,4.8938,4.8937a1.07424,1.07424,0,0,0,1.5191-1.5193L12.736,20.8487l9.2763-9.2762A32.34129,32.34129,0,0,1,52.0224,2.97481,32.339,32.339,0,0,1,43.4292,32.9869ZM20.5163,28.6285a1.07517,1.07517,0,1,0,.3147.7606A1.08135,1.08135,0,0,0,20.5163,28.6285ZM44.3534,16.4551a1.07429,1.07429,0,0,0-1.9375.9287,10.21434,10.21434,0,1,1-4.785-4.7923,1.07433,1.07433,0,0,0,.9316-1.9362,12.36271,12.36271,0,1,0,5.7909,5.7998ZM41.966,13.0797l-.0197-.0198a1.07432,1.07432,0,1,0-1.5253,1.5133l.0197.0197a1.07428,1.07428,0,1,0,1.5253-1.5132ZM31.6529,15.3113H27.7886a1.07418,1.07418,0,0,0-1.0742,1.0743V20.25a1.07425,1.07425,0,0,0,2.1485,0V17.4599h2.79a1.0743,1.0743,0,0,0,0-2.1486Zm6.9623,6.962a1.07415,1.07415,0,0,0-1.0742,1.0742v2.7902h-2.79a1.07425,1.07425,0,0,0,0,2.1485h3.8643a1.07418,1.07418,0,0,0,1.0742-1.0743V23.3474A1.07428,1.07428,0,0,0,38.6152,22.2733Zm-.6885-1.7016a1.074,1.074,0,0,0-1.3098-.7697l-7.3705,1.9142a1.0742,1.0742,0,1,0,.5401,2.0794l7.3706-1.9141A1.07417,1.07417,0,0,0,37.9267,20.5717ZM4.2329,50.7665a1.07429,1.07429,0,0,0-1.51915-.0001L.31461,53.1657a1.07429,1.07429,0,1,0,1.51915,1.5194L4.2329,52.2859A1.07434,1.07434,0,0,0,4.2329,50.7665Zm5.15685.6445a1.07452,1.07452,0,0,0-1.51926,0L6.11588,53.1657a1.07425,1.07425,0,1,0,1.51925,1.5192l1.75462-1.7546A1.07442,1.07442,0,0,0,9.38975,51.411ZM3.89323,45.6284a1.07446,1.07446,0,0,0-1.51936,0L.31461,47.6879a1.07425,1.07425,0,1,0,1.51915,1.5193l2.05947-2.0594A1.07454,1.07454,0,0,0,3.89323,45.6284Z")
                  .infographics-item__title Антивирусная защита сайта
                  .infographics-item__description Продвинем ваш сайт в ТОП выдачи Яндекс и Google. Привлечем на ваш сайт большее количество целевых визитов за меньшие деньги. Многократно увеличим ваши продажи за разумный рекламный бюджет






  .wide-block.wide-block--gray-lighter
    .page-container
      .h1 Слайдер с этапами
      .splide.carousel.carousel--shadow.splide-nav(data-splide='{"autoWidth": true, "arrows": false, "perPage": 2, "breakpoints": { "1350": { "arrows": true }} }')
        .carousel__stages.flex.flex--gap-md.flex--wrap
        ul.splide__pagination.splide__pagination--default
        .splide__track
          .splide__list
              each item, i in serviceList
                .splide__slide.infographics-item.infographics-item--type4.infographics-item--tile.infographics-item--border-top-hover
                  .infographics-item__icon.infographics-item__icon--shadow-left !{item.icon}
                  .infographics-item__title
                    a.infographics-item__link(href="#") !{item.title}
                  .infographics-item__description !{item.description}
        .splide__arrows.splide__arrows--default


  .wide-block.wide-block--gray-lighter
    .page-container
      .h1 Слайдер с фильтром
      .splide.carousel.carousel--shadow.splide-nav(data-splide='{"arrows": false, "perPage": 4, "breakpoints": { "1350": { "arrows": true }}, "filter": { "buttonClass": ["button", "button--gray-lighten"] } }')
        .carousel__filter.flex.flex--gap-md.flex--wrap
        ul.splide__pagination.splide__pagination--default
        .splide__track
          .splide__list
            each item, i in serviceList
              .splide__slide.infographics-item.infographics-item--type2.infographics-item--tile.infographics-item--border-top-hover(data-splide-category="Отзывы")
                .infographics-item__icon.infographics-item__icon--shadow-left !{item.icon}
                .infographics-item__title
                  a.infographics-item__link(href="#") !{item.title}
                .infographics-item__description !{item.description}

            each item, i in serviceList
              .splide__slide.infographics-item.infographics-item--type2.infographics-item--tile.infographics-item--border-top-hover(data-splide-category="Меню")
                .infographics-item__icon.infographics-item__icon--shadow-left !{item.icon}
                .infographics-item__title
                  a.infographics-item__link(href="#") !{item.title}
                .infographics-item__description !{item.description}
        .splide__arrows.splide__arrows--default



  .wide-block.wide-block--gray-lighter
    .page-container
      .h1 Инфографика тип #1
      include ../../blocks/infographics/type1
  .wide-block.wide-block--gray-circle
    .page-container
      .h1 Инфографика тип #2
      include ../../blocks/infographics/type2
  .wide-block.wide-block--gray-lighter
    .page-container
      .h1 Инфографика тип #3
      include ../../blocks/infographics/type3
  .wide-block
    .page-container
      .h1 Инфографика тип #4
      include ../../blocks/infographics/type4
  .wide-block.wide-block--gray-lighter
    .page-container
      .h1 Инфографика тип #4 - 2
      include ../../blocks/infographics/type4-1
  .wide-block
    .page-container
      .h1 Инфографика тип #5
      include ../../blocks/infographics/type5
  .wide-block.wide-block--gray-lighter
    .page-container
      .h1 Инфографика тип #6
      include ../../blocks/infographics/type6
  .wide-block
    .page-container
      .h1 Этапы работ
      include ../../blocks/work-stages/index
